[2018-07-09 11:12] jinesh08 opened #1 "Write data"
How to write data to firebase database on click of a button

[2018-07-09 13:31] dalenguyen commented on #1
Hi @jinesh08, can you be more specific? Like what kind of data, in which situation...?

[2018-07-09 15:34] jinesh08 commented on #1
I have 3 drop downs. And i want to send data to database on a button click in wordpress.

[2018-07-09 17:14] dalenguyen commented on #1
Hi @jinesh08, that isn't enough information for me to figure it out. Please try to be as specific as possible. You can follow this guide as a start: https://stackoverflow.com/help/mcve

[2018-07-12 10:48] #1 closed

[2018-07-15 00:56] liritf opened #3 "Problem with login form"
I downloaded and activated "Integrate Firebase" plugin and created a WordPress page with [firebase_login] as a shortcode. The form states to enter name and email, but the name field expects @ sign. However, when entering my Firebase email and password, I am unable to login. The screenshot is below. What might be the problem? Also, after logging in, should I be seeing real-time database as if I was

[2018-07-16 08:04] omurbekjk opened #4 "Download firestore database with this plugin?"
Just an idea, it will be nice to download firestore database as json in wordpress backend and convert it to excel or csv format and send to the user to download file.

[2018-07-17 15:53] dalenguyen commented on #4
Hi @omurbekjk, this feature will be added to the next update. Please watch for changes :)

[2018-07-17 15:54] dalenguyen commented on #3
Hi @liritf, can you show the console log error from your browser?

[2018-07-17 23:15] liritf commented on #3
Hi @dalenguyen, is this what you meant?
I double checked the API key and it should be correct, yet logging in still does not work.

![error](https://user-images.githubusercontent.com/41241466/42850411-1763bf96-89ed-11e8-8986-a067925cd14c.png)

[2018-07-18 01:44] dalenguyen commented on #3
Yes, this is the API key issue. Can you take a snapshot of your configuration & your firebase configuration? Remember to censor half of your credentials.

[2018-07-18 02:20] dalenguyen commented on #3
Hi @liritf , I just updated the version of the plugin to v0.3.1. Please update and try it again. Thanks,

[2018-07-18 03:40] dalenguyen commented on #4
Hi @omurbekjk, Firestore is supported in version [0.4.0](https://srd.wordpress.org/plugins/integrate-firebase/)

[2018-07-18 03:40] #4 closed

[2018-07-18 04:32] omurbekjk commented on #4
Hi @dalenguyen good job! Can I install this plugin and download my firestore data from wordpress as an excel file?

[2018-07-18 13:22] dalenguyen commented on #4
Hi @omurbekjk , you can get the JSON from the dashboard. JSON structure is kind of complicated to turn it into an excel file because it has many levels. It depends on how you want to use it. You can get the JSON and turn it into whatever you want.

[2018-07-18 14:59] omurbekjk commented on #4
@dalenguyen yes, firebase supports downloading whole db as json file. My requirement was to download it as excel file, and I was thinking to use wordpress to convert it to excel.

[2018-07-18 15:04] dalenguyen commented on #4
Hi @omurbekjk, just to confirm. Firebase Firestore allows you to download the whole DB as a JSON file?

[2018-07-19 03:56] liritf commented on #3
Below is the screenshot of the firebase credentials. I updated the plugin to the newest version (0.4.0), and now I am getting another error message, the screenshot is also below. I enabled email sign-in in firebase authentication. I am able to use the email and password to sign in to firebase directly, but not through the plugin.
![cred](https://user-images.githubusercontent.com/41241466/42920700-

[2018-07-19 13:22] dalenguyen commented on #3
Hi @liritf, please check if you have that user in the firebase authentication. You can take a snapshot of the user if it's possible.

[2018-07-21 02:38] liritf commented on #3
Hi @dalenguyen, the problem was in the Firebase authentication. Now the login works, thank you! Just another quick question: in the shortcode to show data to the user, what class name is it referring to?

[2018-07-21 11:45] dalenguyen commented on #3
Hi @liritf, it's for you to decide and style it.

`echo do_shortcode("[firebase_show class='**your-class-name**']YOUR HTML CODE[/firebase_show]");`

[2018-07-26 01:32] #3 closed

[2018-08-01 13:24] rmidson opened #5 "Not logged in message"
Can I first say, thank you for this plugin. If you keep developing this I think you are onto something very powerful and profitable for you. Great start!

One thing I would really like right now is a short code to show content if you are not logged in. So exactly the same way as it shows content if you are but the opposite. This way we can have a message saying something like "Login to see the res

[2018-08-01 20:06] dalenguyen commented on #5
Hi @rmidson, thanks for making the request. I think these do make sense, and I will work to update it :)

[2018-08-02 08:07] rmidson commented on #5
Superb! Looking forward to testing. Thanks.

[2018-08-07 16:34] rmidson commented on #5
Great stuff! Works really well! I will put it to the test.

[2018-08-07 16:42] rmidson commented on #5
Hi. Been trying it. It's great.

Just one thought. In the same way as the signout button disappears when you sign out, can the login form disappear when you login succesfully?

I tried putting [firebase_show_not_login] around the [firebase_login] shortcode just in case to see if it would only appear when a user was logged out but that didn't seem to be a solution.

Great work.

[2018-08-11 13:10] dalenguyen commented on #5
Hi @rmidson, please update the plugin to version 0.5.1 in order to hide the login form. If you have another request, you can create a new ticket for it. Thanks ;)

[2018-08-11 13:10] #5 closed

[2018-09-05 08:03] kathanshah opened #6 "How about Login for Facebook / Google Authenticated Users ?"
How about Login for Facebook / Google Authenticated Users ?

[2018-09-06 00:43] dalenguyen commented on #6
Hi @kathanshah, these are on the list of enhancement for this plugin. I will update in the future :)

[2018-09-14 10:19] rompeldunk opened #7 "Only getting data from Firestore, not RealTime DB"
Great initiative for this app. Seems like the thing I need, though I'm not able to test it properly.

I'm able to connect to the FireStore DB (which I just created for testing) but not the corresponding Real Time DB. As you can see below, theres no output from RealTime, only from FireStore

Is there a way to verbose the output?

![error](https://user-images.githubusercontent.com/11426361/45544664-

[2018-09-14 10:56] rompeldunk commented on #7
I found the error using the console. It was simply read/write permissions in the Database which was requiring authentication.

[2018-09-14 10:57] #7 closed

[2018-09-28 09:15] JanErikFoss commented on #6
Any ETA on this?

[2018-09-29 13:03] dalenguyen commented on #6
@JanErikFoss I have two big projects that are going on until the beginning of Nov. I will start working on this enhancement after that.

[2018-10-11 22:10] MarkHoath opened #8 "It would be good if we could access Storage"

[2018-10-19 17:15] steveabouem opened #9 "firebase.User#updatePassword"
Hi Dale

I'm brand new to using Firebase . I have a quick question.
My team has a mobile app, supported by Firebase. They asked me to set up a **"forgot password"** page on their WordPress website.Their users will be redirected to this page when they click on  "forgot password" in the mobile app. I made a page with a simple form ( email, new password, confirm new password).

I want to update the u

[2018-10-20 07:53] dalenguyen commented on #9
@steveabouem, I have updated the plugin for support the reset password yet. It's possible and you can put it anywhere on your WP site.

[2018-10-21 16:32] steveabouem commented on #9
Thanks a lot Dale! I appreciate the prompt response:)

[2018-10-30 21:28] jaott1 opened #10 "Login Through Wordpress"
I have the integrate firebase  plug in for wordpress. I have the info in there like I should. I just do not know how to set up the login

[2018-10-31 13:21] dalenguyen commented on #8
Hi @MarkHoath , could you give me an example of what you are going to this feature for? Thanks,

[2018-10-31 15:20] jaott1 opened #11 "Word Press"
I have put in the short code and submit button but, I can not get it to link to the firebase site. Not sure what I'm doing wrong

[2018-10-31 20:45] jaott1 commented on #10
How do we get data from WP to firebase? I have everything set up . Not sure what else to doSent from my Sprint Samsung Galaxy S9.
-------- Original message --------From: Dale Nguyen <notifications@github.com> Date: 10/31/18  8:24 AM  (GMT-06:00) To: dalenguyen/firebase-wordpress-plugin <firebase-wordpress-plugin@noreply.github.com> Cc: jaott1 <myvirtualtheatre@gmail.com>, Mention <mention@noreply.

[2018-10-31 20:49] dalenguyen commented on #11
Hi @jaott1, can you take snapshots of your credentials page, login form, and any errors in the console if possible?. Thanks,

[2018-10-31 20:50] jaott1 commented on #11
Yes

On Wed, Oct 31, 2018, 3:49 PM Dale Nguyen <notifications@github.com wrote:

[2018-10-31 21:21] jaott1 commented on #10
If you are getting multiple emails from me I do apologize. It keeps telling
me I can not send
Jeffrey Ott
Vice President/Creative Design
OTT Theatre Technologies
(936) 443-2291
myvirtualtheatre@gmail.com
www.thevirtualtheatre.com

On Wed, Oct 31, 2018 at 8:24 AM Dale Nguyen <notifications@github.com>
wrote:

[2018-11-04 09:04] Bhargav0528 commented on #11
![fblogin](https://user-images.githubusercontent.com/27493662/47961710-36f9da80-e036-11e8-8f44-86b2f5a29368.png)

Not able to Signup users , added the short code am I missing something?

[2018-11-04 18:32] jaott1 commented on #11
That us correctSent from my Sprint Samsung Galaxy S9.
-------- Original message --------From: Bhargav0528 <notifications@github.com> Date: 11/4/18  2:04 AM  (GMT-06:00) To: dalenguyen/firebase-wordpress-plugin <firebase-wordpress-plugin@noreply.github.com> Cc: jaott1 <myvirtualtheatre@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [dalenguyen/firebase-wordpress-plugin] Word Press (#

[2018-11-04 21:43] dalenguyen commented on #11
It's a login shortcode. Are you able to log in? Please check the inspector if there is any error. Thanks,

[2018-11-04 21:44] dalenguyen commented on #11
@jaott1 Can you clean the message? It's really hard for me to understand...

[2018-11-14 12:50] bobwol opened #12 "Support for Firebase Auth"
Enhancement idea: provide support for Firebase Authentication feature out-of-the-box.

The use case is to use Firebase Authentication for mobile apps (this is ready) and for pwa apps (built using WordPress with this plugin and shortcodes).

[2018-11-14 14:21] dalenguyen commented on #12
Hi @bobwol, could you please provide more detail on "provide support for Firebase Authentication feature out-of-the-box"? Thanks,

[2018-11-14 15:09] bobwol commented on #12
Hi @dalenguyen

Thanks for your follow up.
I installed the plugin and it works with Realtime and Firestore database (I can select in the dropdown option). But Firebase also have an Auth feature ready to use for authentication purposes.
This Auth feature works easily with mobile apps, but could work also with WordPress and PWA plugin.

See here: https://firebase.google.com/products/auth/

What do y

[2018-11-25 14:15] bh4ravi opened #13 "How to redirect page after successfully login"
I Have connected firebase with wordpress but issue is after successfully login i am unable to redirect to destination page

[2018-12-20 19:34] Indhusuresh opened #14 "How to integrate firebase database to wordpress"
I already have android app in firebase database.
I want to link that to wordpress, to create an web application. please help

[2018-12-25 14:31] dalenguyen commented on #14
Hi @Indhusuresh, how you want to integrate it?

[2019-01-01 21:39] Indhusuresh commented on #14
I have an Android app, all of the app data are stored in firebase (cloud database). Now I wish to develop a Web application for the same Android app using WordPress. For this, I want to integrate already existing my firebase database to WordPress, so that I can access data from a single source for my Android and web app. And also In future, if I want to make any changes to data, I can make it in f

[2019-01-04 14:21] Clairyta commented on #14
Hey! That is exactly what I would like to do. I have a database in firebase and I would like to pull the data to wordpress and post as custom elements. is it possible to do that via this app?

[2019-01-04 15:33] Clairyta commented on #14
Okay, thank you! Do you know if there is a plugin I could customize? Or could we work together to make it possible?

[2019-01-05 16:01] Indhusuresh commented on #14
@dalenguyen @Clairyta Yesss... Is there any way to do it? I dont find any online source to make it possible.

[2019-01-08 21:53] dalenguyen commented on #14
Sorry @Indhusuresh @Clairyta, I'm not sure if there are any other plugins that have the functions that you are looking for. Sadly, I'm not working with WordPress and Firebase in the new workplace anymore. It's hard to find time to upgrade this plugin.

[2019-01-13 01:47] MizaelGalvez opened #15 "How use shortcode to get Data"
hi Dale !!! 🥇

![image](https://user-images.githubusercontent.com/3112701/51080491-e9cf6000-1699-11e9-99d5-c3c8699dc5a7.png)

how can i get the value of "Numero" whit a shortcode ?

give me a example please !!! :)

Thaks !!! i dont understand the shortcode, im new in wordpress,  sorry !!!

i dont understand this ---> echo do_shortcode("[firebase_show_not_login class='your-class-name']YOUR HTML COD

[2019-03-21 11:52] acelmec commented on #14
Dear, I am creating an Android APP through THUNKABLE using FrameWork with my WEB Page built in WORDPRESS. I needed to know if I can integrate the WORDPRESS user database in FIREBASE, so I could create a LOGIN in the Android APP. Thanks for your help!

[2019-03-21 11:53] acelmec commented on #15
Dear, I am creating an Android APP through THUNKABLE using FrameWork with my WEB Page built in WORDPRESS. I needed to know if I can integrate the WORDPRESS user database in FIREBASE, so I could create a LOGIN in the Android APP. Thanks for your help!

[2019-03-24 16:37] orbify opened #16 "Installation of Plugin"
I am having a few issues - I was wondering if someone could kindly help me.

1.  I logged into my Wordpress website, searched for "Integrate Firebase".
2.  Clicked on "Install" for "Integrate Firebase".
3.  Went into Plugins and clicked "Activate" for "Integrate Firebase" plugin.
4.  Went to Settings > Firebase and added all my Firebase credentials.
5.  Added short code into a page:

[firebase_log

[2019-03-25 13:28] dalenguyen commented on #16
Hi @orbify, this means that you've successfully logged in. You can check by adding this shortcode [firebase_greetings]

[2019-03-25 15:20] orbify commented on #16
Thank you so much Dale for your quick response 💯
Appreciate it!

I tried adding the following pieces of short code to my page:

[firebase_login]  [firebase_greetings]  [/firebase_login]

So while the login "Email" & "Password" shows up - once I enter in my email and my password and hit the "Login" button - nothing further happens.  (I click on the button, and the "Email" and "Password" are still t

[2019-03-25 15:59] dalenguyen commented on #16
Hi @orbify,

The [firebase_show]test[/firebase_show] shortcode, will show the custom content, that you have to put in between the shortcode. There're lots of features that I haven't have time to develop yet :D

[2019-03-25 16:15] orbify commented on #16
Thank you Dale - this works perfectly 💯  - i.e.:

[firebase_show] This is a test [/firebase_show]  👍

If I wanted to display my Realtime Firebase database somehow in Wordpress - do you have any suggestions for how I can accomplish this in Wordpress?  Perhaps use a Table plugin and somehow link that to Firebase query?  Any high-level ideas?

Really awesome work!  Thank you Dale! (And thank you for

[2019-03-25 18:09] dalenguyen commented on #16
Hi @orbify, I haven't developed the feature to show the database through this plugin yet. If you're interested in, you can create a new request for the new feature and describe the ability of it.

[2019-03-30 17:20] dalenguyen commented on #16
@orbify please update to v0.5.2

[2019-03-30 17:20] #16 closed

[2019-04-02 13:59] dalenguyen commented on #11
Closed due to inactivity.

[2019-04-02 13:59] #11 closed

[2019-05-06 09:09] eldadcaspi commented on #14
As a general concept, I'd suggest to do the following:
1. Base your integration on Firebase Cloud Function on the Firebase side, and a custom plugin on the wp side.

2. On firebase, whenever your android in adding/deleting/updating data, catch it with a trigger (https://firebase.google.com/docs/functions/database-events) and simply push the data to wp using the WP rest api or any other preferable

[2019-05-23 12:49] midcenturyminnie opened #17 "Pull from Membership List to Sync to Firebase"
Hi! This may be a dead end, but I thought I'd ask.

I'm working on building a website to correspond with an App built within Firebase. Clients come to our site, purchase the membership, create their login, and then download the app - sign in and voila. We have a membership area on the website with member-only content. Is there a way for your Plugin to pull directly from a Membership plugin, so tha

[2019-05-25 00:58] jaott1 opened #18 "Data not showing up"
Hi Dale, I am having issues getting the information pulled in from Firebase and Being able to login. Do you have other instructions that might help me.

[2019-05-25 13:47] dalenguyen commented on #18
Can you take a snapshot of you screen and show console log?

[2019-05-25 14:41] jaott1 commented on #18
![20190525_090817](https://user-images.githubusercontent.com/44622915/58370863-18273c80-7ed1-11e9-9fea-520855c1eea3.jpg)

[2019-05-25 14:49] dalenguyen commented on #18
Hi @jaott1, I need more information than this. Such as your configuration, what are you trying to achieve...

[2019-05-25 14:55] jaott1 commented on #18
Hey Dale, I have a program that is webgl but stored in firebase. The main
site is wordpress. I am needing to have the log in on my wordpress site as
well as keep track of data.
Because right now the user is having to log in to wordpress to get access
to my software but, then log in to the soft ware so that I can track usage.
My main goal is to have one log in for the software.

Jeffrey Ott
Vice Pr

[2019-05-26 18:51] stayhomemom240 opened #19 "New database"
If I am setting up a new database and new wordpress site with no data available how do I parse the data to the proper collections? There are not setting or documents I found to explain this aspect. Please help

[2019-05-26 18:54] stayhomemom240 commented on #8
Is there no access to storage? I need my users to store music, photos, and such in their accounts, if they are stored in Wordpress will this secure them from other users?

[2019-05-26 19:42] dalenguyen commented on #18
Hi @jaott1, the login between Firebase and WordPress Dashboard is a tricky part. For now, a user can log in, and it will be controlled through Firebase. User cannot see the WordPress Dashboard, but they will have access to Firebase database and firebase's features.

I'm planning to have them integrated into one place, and it's kind of a tricky one to implement.

[2019-05-26 19:46] dalenguyen commented on #8
@stayhomemom240, I'm planning to add storage access to the frontend, so logged in users can upload photos or else. It won't be stored in WordPress media, rather, it will be stored in Firebase storage. You have to edit your security rules to make sure that it's secured.

Please bookmark this site for more updates: https://integrate-firebase-pro.dalenguyen.me

[2019-05-26 19:48] dalenguyen commented on #19
Hi @stayhomemom240, are you trying to plan how to organize your database or what?

[2019-05-26 20:45] jaott1 commented on #18
Ok, so if my user logs in to my game the info will still go to firebase? I am the only one who needs to see dataSent from my Sprint Samsung Galaxy S9.
-------- Original message --------From: Dale Nguyen <notifications@github.com> Date: 5/26/19  2:42 PM  (GMT-06:00) To: dalenguyen/firebase-wordpress-plugin <firebase-wordpress-plugin@noreply.github.com> Cc: jaott1 <myvirtualtheatre@gmail.com>, Menti

[2019-05-26 22:24] stayhomemom240 commented on #19
I guess, I mean how to I tell it what collection to save user data to. like if I was writing the code I would have a component for each collection, how do I tell the data to goto a specific user collection? i.e. chat, payment info, blog, photos, music, etc.

[2019-05-27 15:12] dalenguyen commented on #19
I think that will be in a form that you put to the frontend. There'll be different codes that handle different tasks. E.g. In the chat section, we will have codes that handle the chat and put it into the Chats collection...

[2019-05-27 15:13] dalenguyen commented on #18
Yes, if your users log in by using the Firebase log in form, they will be managed by Firebase.

[2019-05-27 15:18] jaott1 commented on #18
Ok cool. Not sure what i am doimg wrong then on the plugin. In my dashboard it will not let me see the database and when i use the code to log in it doesn't do anything Sent from my Sprint Samsung Galaxy S9.
-------- Original message --------From: Dale Nguyen <notifications@github.com> Date: 5/27/19  10:13 AM  (GMT-06:00) To: dalenguyen/firebase-wordpress-plugin <firebase-wordpress-plugin@noreply.

[2019-05-27 15:30] dalenguyen commented on #18
Can you send the error from your console when you inspect the browser (Press F12 on Chrome to see the inspection)?

[2019-05-27 18:03] jaott1 commented on #18
Im not getting an error.  Im not getting anything.  Sent from my Sprint Samsung Galaxy S9.
-------- Original message --------From: Dale Nguyen <notifications@github.com> Date: 5/27/19  10:30 AM  (GMT-06:00) To: dalenguyen/firebase-wordpress-plugin <firebase-wordpress-plugin@noreply.github.com> Cc: jaott1 <myvirtualtheatre@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [dalenguyen/fi

[2019-05-27 20:46] dalenguyen commented on #18
Hi @jaott1, I need to see your configuration and what you are trying to do in your WordPress site in order to figure out what happens. Any pictures would help.

[2019-05-27 21:33] jaott1 commented on #18
Ok when i get back to my computer i will. Sent from my Sprint Samsung Galaxy S9.
-------- Original message --------From: Dale Nguyen <notifications@github.com> Date: 5/27/19  3:46 PM  (GMT-06:00) To: dalenguyen/firebase-wordpress-plugin <firebase-wordpress-plugin@noreply.github.com> Cc: jaott1 <myvirtualtheatre@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [dalenguyen/firebase-word

[2019-05-28 13:01] jaott1 commented on #18
Jeffrey Ott
Vice President/Creative Design
OTT Theatre Technologies
(936) 443-2291
myvirtualtheatre@gmail.com
www.thevirtualtheatre.com

Not sure if this helps or not but, here ya go

On Mon, May 27, 2019 at 3:46 PM Dale Nguyen <notifications@github.com>
wrote:

[2019-05-31 07:53] jaott1 commented on #18
I was able to make a test site. It let me bring data from the test site but not from the primary. So i do not know if i am just requesting in the wrong data formSent from my Sprint Samsung Galaxy S9.
-------- Original message --------From: Dale Nguyen <notifications@github.com> Date: 5/27/19  3:46 PM  (GMT-06:00) To: dalenguyen/firebase-wordpress-plugin <firebase-wordpress-plugin@noreply.github.co

[2019-05-31 13:53] dalenguyen commented on #18
@jaott1 if it doesn't show anything when you get the data, it will show the error in the browser console log when you inspect the site.

[2019-05-31 14:21] jaott1 commented on #18
It doesn't even show an errorSent from my Sprint Samsung Galaxy S9.
-------- Original message --------From: Dale Nguyen <notifications@github.com> Date: 5/31/19  8:53 AM  (GMT-06:00) To: dalenguyen/firebase-wordpress-plugin <firebase-wordpress-plugin@noreply.github.com> Cc: jaott1 <myvirtualtheatre@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [dalenguyen/firebase-wordpress-plugin]

[2019-07-08 11:26] rabbie commented on #6
Hey Dalenguyen, any update on this one? I'm happy to pay for PRO to support you or even pay a donation for part of your dev time for this feature ?

[2019-07-27 12:23] dalenguyen commented on #6
Hi @rabbie, I'm working on the PRO version. This version isn't secured enough for production usage.

[2019-09-02 13:55] RichardValadares commented on #15
I have this same problem. Does anyone know how to help? I need a specific JSON field returned by shortcode.
How do I do that?

[2019-10-10 06:37] alexmasita commented on #17
This would be a great enhancement.  I would like to also know whether by logging to wordpress via firebase authentication allows you to access authenticated wordpress content.

[2019-10-18 02:34] DarkMG73 opened #20 "Shortcode to display Firestore DB?"
Hello. I see the Realtime DB shortcode, but nothing to display a Firestore shortcode. I tried changing "Realtime" to "Firestore" on the Realtime hsortcode, but that didn't work.

I have the Firestore connection set up in the admin, but no way to display it.

Thanks in advance for your help!

[2019-11-16 00:51] nasajoey opened #21 "Enable use of custom claims"
Haven't tried the plugin yet, but trying to evaluate the features.

Is there a way to enable use of custom claims from Firebase rather than relying on a database for user metadata?  We already use custom claims for our website by checking if logged in users have a certain claim.

Would be ideal to have this plugin check if a logged in user has a certain claim in order to manage access.  Is that po

[2019-11-16 09:49] dalenguyen commented on #21
Thanks Joseph for your support. Custom claims can be managed through custom shortcode and JavaScript.

Here is an example of writing a custom shortcode to display data from Firestore

https://dalenguyen.me/blog/how-to-retrieve-data-from-firestore-and-display-on-wordpress-abj?id=199634

It will be the same with custom claims. I'm away for a week and will write a tutorial to show how to manage it wh

[2019-11-16 22:53] nasajoey commented on #21
Thanks for the response.  Look forward to the tutorial.

[2019-11-19 06:23] nasajoey opened #22 "tslint deprecated... update cloud function to use eslint"
The cloud functions had dependencies I didn't have installed (separate issue I suppose)... but one of them was tslint.  Looks like that package is deprecated in favor of eslint.  Recommend migrating your cloud function stuff to use that package instead.

https://www.npmjs.com/package/tslint

from package.json:
`"tslint": "^5.20.0",`

[2019-11-26 22:46] dalenguyen commented on #21
Hi @nasajoey, please check this tutorial for custom claims: https://dalenguyen.me/blog/how-to-work-with-firebase-custom-claims-in-wordpress-4913?id=211659

[2019-11-26 22:52] dalenguyen commented on #22
Thanks @nasajoey. Was you able to install the cloud functions?

[2019-11-27 18:33] nasajoey commented on #22
I was able to build them locally.  In the deployment process, I ran into an error.  So everything through Step 6 in the "Getting Started" works fine.  I get the expected value from:

`firebase functions:config:get api.token`

Upon trying `firebase deploy` I got the following message:

`Error: HTTP Error: 400, Project 'mtgprice-94f62' is not a Cloud Firestore enabled project.`

So I tried to enable

[2019-11-27 18:41] dalenguyen commented on #22
Hi @nasajoey,

In the file: functions/src/index.ts

You can uncomment the database and try to deploy the functions.

[code]
Rebuild the project and deploy it without the database. Let me know if it works.

[2019-11-27 23:01] nasajoey commented on #22
Thanks for the help with this!

Tried those comments, but still got:

`Error: HTTP Error: 400, Project 'xxxxxxxx' is not a Cloud Firestore enabled project.`

here's the tail of my command line:

[code]

[2019-11-28 00:00] nasajoey commented on #22
Update:

I removed references to the datastore from firebase.json by deleting these lines:

[code]

[2019-11-28 16:39] dalenguyen commented on #22
@nasajoey great, please keep me posted.

[2019-11-28 16:39] #22 closed

[2019-12-09 04:15] nasajoey opened #23 "Consider use of FirebaseUI for login?"
For UX/UI consistency it would be neat to have the option of FirebaseUI login:

https://github.com/firebase/firebaseui-web

We use this on our main site, so it would be nice to have a similar look and feel for login.  It is recommended in the Firebase docs as well (https://firebase.google.com/docs/auth/web/firebaseui).

My guess is that you'd have a button instead of the "E-mail" and "Password" fo

[2019-12-09 04:21] nasajoey commented on #21
Thanks... I think it makes sense, but still digesting it.  Haven't tried yet.

[2019-12-09 08:30] SebastianBO commented on #23
Great idea, same here.

[2019-12-09 16:34] dalenguyen commented on #21
@nasajoey when you have time give it a try. I already tested in local. And please update the plugin to v0.5.4 :D

[2019-12-09 16:34] #21 closed

[2019-12-09 17:47] dalenguyen commented on #23
@nasajoey @SebastianBO Yup, it sounds like a great idea.

[2019-12-16 05:32] nasajoey commented on #23
If we were in a measuring mood... HOW great of an idea is it?  With "1" being "Great, but won't ever do it."  And "10" being "Soooooo great that I'm working on it now and will have it done tomorrow!"

Just curious if I should be spending time trying to improve the UI for the current plugin for our site or just wait for this awesome improvement.

Thanks in advance for any insights!

[2019-12-17 19:28] dalenguyen commented on #23
Hi @nasajoey, I would say it about 8. I will start working on it this weekend. Hopefully, it can be released in the next two or three weeks.

[2019-12-21 19:47] dalenguyen commented on #23
Hi @nasajoey, which kind of authentications that you are using now?

[2019-12-23 13:40] nasajoey commented on #23
We actually only use email auth for now, but are hoping to activate Google and Twitter in the near future.  If you got just the email auth part going now, that would be super great for me personally.  Really more about the unified look and feel provided by firebaseui-web for us.

[2019-12-23 15:26] dalenguyen commented on #23
@SebastianBO @nasajoey the integration is done. There are options that you can enable email, google, twitter, facebook... I need to update the document and the site. Everything should be done this weekend.

[2019-12-25 01:41] nasajoey commented on #23
Great!  A merry Christmas indeed!  Will be happy to test this out soon after you have it available.

[2019-12-30 00:44] dalenguyen commented on #23
It's finally out!!! Please go to [https://firebase.dalenguyen.me](https://firebase.dalenguyen.me) to download the version 0.5.5.

User guide: https://firebase-wordpress-docs.readthedocs.io/en/latest/work-with-firebaseui-web.html

[2019-12-30 00:44] #23 closed

[2019-12-30 00:45] dalenguyen commented on #6
This feature is updated on PRO version 0.5.5 at https://firebase.dalenguyen.me

[2019-12-30 00:45] #6 closed

[2019-12-30 00:47] dalenguyen commented on #9
This is now can be done with the PRO version. https://firebase.dalenguyen.me/

[2019-12-30 00:47] #9 closed

[2019-12-30 00:48] dalenguyen commented on #12
This is now supported with PRO version at https://firebase.dalenguyen.me

[2019-12-30 00:48] #12 closed

[2019-12-30 00:48] dalenguyen commented on #13
This is now supported with PRO version at https://firebase.dalenguyen.me

[2019-12-30 00:48] #13 closed

[2019-12-30 00:49] dalenguyen commented on #14
Database integration is now possible. Read the userguide: https://firebase-wordpress-docs.readthedocs.io/en/latest/index.html

[2019-12-30 00:49] #14 closed

[2019-12-30 00:50] dalenguyen commented on #15
It can be done through a custom shortcode. Read the user guide: https://firebase-wordpress-docs.readthedocs.io/en/latest/index.html

[2019-12-30 00:50] #15 closed

[2019-12-30 00:52] dalenguyen commented on #18
Login now supported through FirebaseUI-Web, and database integration is also possible. Read the user guide: https://firebase-wordpress-docs.readthedocs.io/en/latest/index.html

[2019-12-30 00:52] #18 closed

[2019-12-30 00:53] dalenguyen commented on #20
Database integration is now possible. Read the user guide: https://firebase-wordpress-docs.readthedocs.io/en/latest/index.html

[2019-12-30 00:53] #20 closed

[2019-12-30 00:54] dalenguyen commented on #19
New  user guide: https://firebase-wordpress-docs.readthedocs.io/en/latest/index.html

[2019-12-30 00:54] #19 closed

[2019-12-30 05:57] nasajoey commented on #23
Awesome!  Looking forward to trying.

Trying to download and having problems that I haven't had before with your site.  The "Download" button takes me to the /download page and there is another link "Integrate Firbase PRO" but its target is just "https://firebase.dalenguyen.me/" and nothing gets downloaded.

[2019-12-30 13:17] dalenguyen commented on #23
@nasajoey it fixed now. Please try it again.

[2019-12-31 06:25] nasajoey commented on #23
Download now works.  Thanks.

[2019-12-31 06:29] nasajoey opened #24 "Firebaseui redirect URL, possible to default to current page?"
We will have the login present as a gate for users to access everything beyond the beginning of a post.  So the login will be on every post for not-logged-in users.  In order for such a scheme to work with Firebaseui-web, the redirect on successful login would need to come back to the current page, not a general redirect.

Is this possible for me to configure in the current version or would it be

[2020-01-02 19:04] dalenguyen commented on #24
This is not supported now. It should be a new feature or custom customization.

[2020-01-15 05:36] nasajoey opened #25 "Short code for logged-in user with certain custom claim"
Feature request for a new shortcode that shows/hides content for the current logged in user based on custom claims that user has/doesn't have.

Note on the bottom of this page:

https://firebase-wordpress-docs.readthedocs.io/en/latest/work-with-firebase-custom-claims.html

You tease us with this feature.

Just opening a ticket as a little reminder.  Thanks again for all the effort on this plugin..

[2020-01-15 05:38] nasajoey commented on #25
Note I didn't have ability to label this appropriately... it automatically called it a "bug"

[2020-01-15 15:09] dalenguyen commented on #25
@nasajoey sorry, I just updated the template for the feature request. Could you provide your user case in detail?

Like what information and format of the data that you want to show?

[2020-01-15 18:52] nasajoey commented on #25
We have a fairly simple subscription model.  Once a user is subscribed, I give them the correct claim in Firebase.  A subscription gives them access to full length articles on our WP site (amongst other things).  So, in WP, I'd want to hold back a block of a post if a user is not logged in with the correct claim.  something like (sorry don't have the names of your current shortcodes handy, but you

[2020-01-15 22:16] dalenguyen commented on #25
@nasajoey Nice. And which types of content are they? Plain text, HTML with tags, data from firestore / realtime...?

[2020-01-16 02:06] nasajoey commented on #25
sorry... i'm not a WP expert...

it is only content that the writers for the site create using the "New Post" option in Wordpress.  So it is text, links, perhaps in-Post images.  There may be some other shortcodes from other plugins that get used as well.

Does this help?  Again, not a WP expert... just feeling my way through!

[2020-01-16 14:50] dalenguyen commented on #25
@nasajoey yes, that's good enough. I will make some tests this weekend.

[2020-01-17 08:11] mikro1st opened #26 "Sync WP User Registration and Firebase Registration"
I build a mobile app including the function of Firebase's Cloud Notification Service.
When a user signs up on my App, a new User will be created in my Firebase Project.
Everything works perfectly fine. However, when I decided to extend my Service by building an WordPress Website, I got a lot of trouble with including the Firebase Registration Part to Wordpress.
At the moment I'm using the standard

[2020-01-17 17:27] dalenguyen commented on #26
Thanks @mikro1st for suggesting. I have some questions. Does the user need to register and login to the WordPress site?

If not, you can forbid users from registering to WordPress and create a separate page with the login/register shortcodes. Users can register or login under Firebase Auth without interacting with normal WordPress flow.

[2020-01-19 01:03] dalenguyen commented on #25
Hi @nasajoey, the plugin is updated to v0.5.6. Please give it a try.

Here is the guide for display custom data with shortcode: https://firebase-wordpress-docs.readthedocs.io/en/latest/work-with-firebase-custom-claims.html

[code]

[2020-01-19 01:03] #25 closed

[2020-01-25 17:59] nasajoey commented on #25
Hi @dalenguyen ... I gave it a try out of the box.  I'm unclear if I am supposed to modify code as shown in your guide or if the guide is showing what you already have implemented?

The short code isn't doing what I expected/hoped.  I was hoping that I could put an arbitrary claim into the "claims" key of your shortcode and then the text between the begin and end codes would be shown.  But I am ga

[2020-01-26 01:06] dalenguyen commented on #25
Hi @nasajoey, nice to hear from you again.

The shortcode is already implemented. With the right claims, users will see the content inside the shortcode. Otherwise, they will see the message.

Is there any error when you try this shortcode?

[2020-01-26 23:00] nasajoey commented on #25
I think I have it working now.  I may have a bug report later on a related issue, but I think I'm good on this ticket.  Thanks for getting back to me!

[2020-01-26 23:22] dalenguyen commented on #25
You're welcome @nasajoey. Please do report another bug or request a new feature.
If you have time, please help to rate the free version of this plugin. Thanks,

https://wordpress.org/plugins/integrate-firebase/

[2020-02-23 16:49] ErisEnterprise commented on #17
@alexmasita, is there any update to this thread?

[2020-02-24 07:31] alexmasita commented on #17
Hi @ErisEnterprise.  Not that I know of.  But I have since moved on to explore other solutions.  The idea that I am going to experiment with is the one that uses single sign-on for multiple apps.  This is where I found a WordPress plugin that allows you to log in via firebase authentication and automatically creates a user in Wordpress if not created: [Firebase Authentication](https://wordpress.or

[2020-02-27 11:21] brettmac99 opened #27 "Impossible to download the PRO Plugin"
Hey guys, I just bought the PRO version and could not download the plugin.

[2020-02-27 11:30] brettmac99 commented on #27
<img width="662" alt="Screen Shot 2020-02-27 at 10 28 08 pm" src="https://user-images.githubusercontent.com/61544411/75440851-a4aae200-59b0-11ea-9c85-80d7493d9aac.png">

Download link not working, after paying for it.

[2020-02-27 12:46] dalenguyen commented on #27
Thanks @brettmac99 for you support. I fixed the download link. Please try it again.

[2020-03-02 18:31] #27 closed

[2020-03-25 22:21] dalenguyen commented on #26
This is solved: https://firebase-wordpress-docs.readthedocs.io/en/latest/wordpress-user-integration.html

[2020-03-25 22:21] #26 closed

[2020-03-25 22:22] dalenguyen commented on #24
@nasajoey it is implemented. https://firebase-wordpress-docs.readthedocs.io/en/latest/work-with-firebaseui-web.html

[2020-03-25 22:22] #24 closed

[2020-03-25 22:24] dalenguyen commented on #17
This is also done: https://firebase-wordpress-docs.readthedocs.io/en/latest/wordpress-user-integration.html

[2020-03-25 22:24] #17 closed

[2020-04-07 04:33] nasajoey opened #28 "Nice to have JS error to GUI"
Very minor request/suggestion for a future release.

**Is your feature request related to a problem? Please describe.**
When setting up the new version of the plugin, I set the project settings in "General", then navigate to "Users."  A button is presented to "Click to load users."  I clicked it and waited.  Clicked again.  Didn't know if there was an error or latency.  There was no feedback in th

[2020-04-07 15:14] dalenguyen commented on #28
Thanks, @nasajoey. This is definitely a great suggestion. I will add this to the next release which is this week!

[2020-04-08 02:18] dalenguyen commented on #28
Hi @nasajoey, it's updated in version 0.11.1.

[2020-04-08 02:18] #28 closed

[2020-04-08 17:55] nasajoey opened #29 "User Search"
**Is your feature request related to a problem? Please describe.**
When clicking "Click to load users" in the "Users" tab, I get a full list of all of our users.  However, that list is 100's of folks long.  They only way to find a particular user is via using the browser to search the page.  Unless I am missing a filter feature?

**Describe the solution you'd like**
I'd like a way to filter users

[2020-04-08 18:07] nasajoey commented on #29
Could be a separate issue or just related to this one:  would probably be good to have a start/offset/pagination by default for listing users.

[2020-04-08 20:47] dalenguyen commented on #29
Thanks @nasajoey, the second one is more complicated than the search feature. It should be on a separate ticket.

[2020-04-08 21:40] nasajoey commented on #29
Makes sense... the first one is more important anyway to my use cases.  Thanks for taking a look!

[2020-04-09 14:59] nasajoey opened #30 "1000 limit on viewing users"
**Describe the bug**
Users tab can only load up to 1000 users

**To Reproduce**
Steps to reproduce the behavior:
1. Have 1000+ users in firebase auth
2. Click on 'load users' in Users tab of plugin GUI
3. Search for the word "Delete" and see there are 1000 results (one per row/user)
4. See that all of your users are not loaded.

**Expected behavior**
Some method to see all users, perhaps paginate

[2020-04-09 22:39] nasajoey commented on #29
Ugh... now based on Issue #30 definitely need the filter feature else I can't load all of our users.  Thanks again for the help with this!

[2020-04-10 03:33] dalenguyen commented on #29
Hi @nasajoey, I added the search / filter in version 0.12.0. Looks like you have more than 1000 users. It will be added in the next release.

[2020-04-10 03:33] #29 closed

[2020-04-10 18:25] forTheSakeOfLogic commented on #8
no storage support yet?

I am looking for a way to be able to display images from my firebase storage on my wordpress site dynamically based on the logged in user.

[2020-04-10 18:53] dalenguyen commented on #8
Hi @forTheSakeOfLogic, basically after the user logs in, if they have the permission, they can access the image now. Can you provide the structure of the images and how you would like to show them on WordPress?

[2020-04-11 02:23] dalenguyen commented on #30
Hi @nasajoey, the limit is removed in version 0.13.0. Please give it a try.

[2020-04-11 02:23] #30 closed

[2020-04-12 00:28] nasajoey opened #31 "Deleting all claims seems to be an invalid operation?"
**Describe the bug**
Not able to fully delete a custom claim

**To Reproduce**
Steps to reproduce the behavior:
1. Go to users tab
2. Find a user with an existing custom claim
3. Click edit, delete the text in the claim box.  Click Save
4. Reload the page and user db, you will see that the claim is still present with the user.

**Expected behavior**
I expected the claim box to be empty due to dele

[2020-04-13 02:40] dalenguyen commented on #31
This is fixed in v0.14.0, and remember to redeploy the cloud functions.

[2020-04-13 02:40] #31 closed

[2020-04-19 12:27] jaott1 opened #32 "FrontEnd User Profile Maker"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

I would like the user to be able to create there own profile and log in. This way the user can purchase my product to create an account and u

[2020-04-21 00:48] dalenguyen commented on #32
Hi @jaott1, which version of the plugin are you using?

And your product is in Firebase database or WordPress (WooCommerce) for example?

[2020-04-21 00:52] jaott1 commented on #32
I have the 0.14 version. Firebase databaseSent from my Sprint Samsung Galaxy S9.
-------- Original message --------From: Dale Nguyen <notifications@github.com> Date: 4/20/20  7:49 PM  (GMT-06:00) To: dalenguyen/firebase-wordpress-plugin <firebase-wordpress-plugin@noreply.github.com> Cc: jaott1 <myvirtualtheatre@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [dalenguyen/firebase-word

[2020-04-21 03:01] dalenguyen commented on #32
Hi @jaott1, the current stage of the plugin allows users to register or login with their Firebase credentials on the WordPress website.

It is what you want?

Documentation: https://firebase-wordpress-docs.readthedocs.io/en/latest/work-with-firebaseui-web.html

[2020-04-21 03:17] jaott1 commented on #32
Yes. Sent from my Sprint Samsung Galaxy S9.
-------- Original message --------From: Dale Nguyen <notifications@github.com> Date: 4/20/20  10:01 PM  (GMT-06:00) To: dalenguyen/firebase-wordpress-plugin <firebase-wordpress-plugin@noreply.github.com> Cc: jaott1 <myvirtualtheatre@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [dalenguyen/firebase-wordpress-plugin] FrontEnd User Profile

[2020-04-26 23:05] emailsubjekt commented on #8
I'm interested in this too, however I haven't got the site running yet. I've tried using the firebase authentication plugin but it didn't work. Then I tried https://firebase-wordpress-docs.readthedocs.io/en/stable/shortcode-list.html and saw that the official docs for that plugin https://firebase.dalenguyen.me/docs --> https://firebase.dalenguyen.me/assets/images/firebase-setting.png  --> , don't

[2020-04-28 18:52] dalenguyen commented on #8
Hi @emailsubjekt, the firebase-wordpress-docs is mainly for the PRO version. I should create an example for pulling file from Storage.

As you can see in the display data section, it will be done through a shortcode. And check the console log for any error from the plugin or firebase.

[2020-04-28 22:55] #8 closed

[2020-04-28 22:56] MarkHoath commented on #8
Closed

[2020-04-29 17:07] mcollinar opened #33 "How can I call a Cloudfirestore?"
**This is not a bug**
When a read the documentation, I saw this shortcode [realtime class='your-class-name' collection_name='Users' document_name='string']
And I dont know how to use....

Can you put a example of a cloud firestore call ~users~ ?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear

[2020-04-29 18:01] dalenguyen commented on #33
Hi @mcollinar, here is an example that you can look at

https://wordpress.dalenguyen.me/display-realtime-document-data/

For example, here is my realtime structure

![image](https://user-images.githubusercontent.com/14116156/80629783-530aec00-8a21-11ea-9c5c-c9000af96468.png)

That means this is the shortcode that I will put on WordPress inside a Post / Page:

[code]

If you don't know how to put t

[2020-04-30 03:54] mcollinar opened #34 "Include a bottom to export Users"
**Is your feature request related to a problem? Please describe.**
A button in the Dashboard/Userspage that export all users that is in Firebase

**Describe the solution you'd like**
A button in the Dashboard/Userspage that export all users that is in Firebase

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

*

[2020-04-30 10:38] dalenguyen commented on #34
Thanks @mcollinar, I can add a button to download All Users on the table.

![image](https://user-images.githubusercontent.com/14116156/80701277-256b8480-8aad-11ea-8a18-41e78da7c576.png)

[2020-04-30 11:10] mcollinar commented on #34
It Will be perfect

Em qui, 30 de abr de 2020 às 07:38, Dale Nguyen <notifications@github.com>
escreveu:

--
Marcelo Collina
mcollina@gmail.com
www.facebook.com/marcelo.collina

[2020-05-04 02:57] mcollinar opened #35 "create a My account page to add or change information"
**Is your feature request related to a problem? Please describe.**
I`m trying to create a My account page, but I cannot integrate the logged users with the Users collection.

For example, the user that are trying to log in is hHmTfzqCcgTbMChH2K2dF8AoYES2

and when this user logged in, I want to him see the information that are in this shortcode:
[firestore class='your-class-name' collection_name='

[2020-05-04 03:10] mcollinar opened #36 "Make possible to get just a few informations in a collectio for a document"
**Is your feature request related to a problem? Please describe.**
How can I get just one information of a collection? For example: in the collection Users, I just want to bring the Photo... Is it possible to do that?

**Describe the solution you'd like**
I`m talking to something like this: [firestore class='your-class-name' collection_name='Users' display_fields='foto' document_name='hHmTfzqCcgTb

[2020-05-05 14:30] #33 closed

[2020-05-07 21:58] elmcapp opened #37 "user not created in wordpress after login with firebase login"
I am using the pro version of this plugin. I followed all the steps that are in the video turutals #1 and #2.

1. I have a account in firebase but not wordpress.
2. I login with your plugin login form and login is successful.
3. Then I check my wordpress database using the admin account. I check for a new user which would be the user that I just login with in step 2. The user account is not create

[2020-05-07 22:12] elmcapp commented on #37
This issues if fixed. Just put in a url for login users

[2020-05-07 22:12] #37 closed

[2020-05-07 23:34] elmcapp opened #38 "Sign In Success Url not working"
I have pro version of the plugin.
1. I have set Sign In Success Url to /accounts
2. When someone go to the login page  /login then they put in their login information and press submit they are logged in successful however the plugin redirects them back to the current page just without the login form. They are able to see content for login users however they are not being redirected. to /accounts

[2020-05-07 23:50] elmcapp commented on #38
![plugin](https://user-images.githubusercontent.com/64275658/81355283-00be7080-909c-11ea-802d-17763292ab8a.png)

[2020-05-08 03:19] dalenguyen commented on #38
Thanks @elmcapp. I’ll check this bug and will back to you this weekend.

Meanwhile can you create a video / gif of what is happening on the site and send it to me?

You can send it to dale@dalenguyen.me

Thanks,

[2020-05-08 08:40] elmcapp commented on #38
Here is a video link of the bug
https://drive.google.com/open?id=18TLCjtXunQWJ49v2sAqQh07vbtnw9rTv

[2020-05-08 10:27] Rauljauregi opened #39 "PlugIn Internationalitation - available for Languages"
First, congrats for the plugin. I would want to have the ability to translate the plugin on different languages. It would be very useful for other as well.

Thank you,

[2020-05-09 06:06] elmcapp opened #40 "Any way to customize the UI"
The Firebase Frontend UI is nice but is there any way  to customize it. I need to add some extra labels in the form. Basically where it show Sign in with email, I would like to have an H3 tag above that with some custom text

[2020-05-10 02:52] dalenguyen commented on #39
Thanks @Rauljauregi for your suggestion.

[2020-05-10 03:06] dalenguyen commented on #40
Hi @elmcapp, you can add a custom text above the login shortcode. It will show you the text and the form. Is it what you want?

[2020-05-10 04:22] elmcapp commented on #40
I was hoping to get the text to show inside of the form. I figured it out. I had to download the jquery code to server and edit the text there

[2020-05-10 04:22] #40 closed

[2020-05-10 04:23] elmcapp commented on #38
Do we have a fix for this bug?

[2020-05-10 04:24] dalenguyen commented on #38
Yes, the fix will be released tomorrow.

[2020-05-10 07:03] Rauljauregi commented on #39
I will be happy to help on the translations . I can translate to spanish (spain) or basque in case you nerd it

[2020-05-10 20:56] dalenguyen commented on #38
This is fixed in v0.18.0

[2020-05-10 20:56] #38 closed

[2020-05-10 20:58] dalenguyen commented on #36
You have an option to add display fields to a document in v0.18.0 now.

[2020-05-10 20:58] #36 closed

[2020-05-10 20:58] dalenguyen commented on #34
This feature is added in v0.18.0

[2020-05-10 20:58] #34 closed

[2020-05-11 03:21] mcollinar opened #41 "Integratiuon with WPBakery Page Builder"
**Is your feature request related to a problem? Please describe.**
Put all the shortcode available in the WPBakery Page Builder

**Describe the solution you'd like**
Just put all the shortcode in the plugin, just like woocomerce or dokan did...

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Which fields do

[2020-05-11 03:26] mcollinar commented on #39
I can translate to potuguese

[2020-05-11 16:57] elmcapp opened #42 "Integration Firebase plugin is cause issues with another wordpress plugin"
I am using integration firebase pro in my wordpress site. I am also using another plugin called ARMember which is a membership plugin that allow me to have membership plans. The issue is when I activate the integration firebase pro plugin it causes one of my pages from ARMember not to load

![see 2](https://user-images.githubusercontent.com/64275658/81588902-00b5bd80-9387-11ea-85d7-5f04f3a0d3b3.pn

[2020-05-12 01:09] dalenguyen commented on #39
Which part of the plugin that you want to translate? Could you please give an example or a snapshot? Thanks,

[2020-05-12 01:11] dalenguyen commented on #41
Can you explain more? Shortcode does work in WP Bakery. http://superstorefinder.net/support/knowledgebase/add-shortcode-wp-bakery-builder-visual-composer/

[2020-05-12 01:14] dalenguyen commented on #42
It seems that there’s an issue with the Datatable on that page. Does it work if you deactivate the plugin?

[2020-05-12 01:33] elmcapp commented on #42
Yes. If I disable intergration firebase pro then it works.

![order](https://user-images.githubusercontent.com/64275658/81628600-1a7af300-93cf-11ea-85f4-2f42e5c87c31.png)
Things I have tried: I download a plugin called plugin orgizer. This allow me to order plugins in the order that I want the to trigger (activate or be since on the site). I put Your plugin as number 1 and the ARMember plugin as n

[2020-05-12 01:50] dalenguyen commented on #42
It’s likely that we use different versions of the Datatable or using the same id for element / table.

It’s good that the Plugin Organizer helps. I’ll try install their plugin and see what happens.

[2020-05-12 04:09] Rauljauregi commented on #39
I need to translate all the frontend  phrases and messages. everythigs that can read a user.

Thank you!

[2020-05-12 05:11] elmcapp commented on #38
Can you also add a redirect for users already logged in. Meaning if a users has not logged out and they go to the login page it will redirect them?

[2020-05-12 06:15] elmcapp opened #43 "Logout"
Issues with logout. Using the shortcode you provide to logout works to sign you out of firebase and wordpress. HOWEVER: if you use a plugin to hide the admin bar, the shortcode you provide will provide a logout button and it will log you out of firebase however it does not log you out of wordpress

[2020-05-13 16:20] elmcapp opened #44 "Create new user in Firebase"
Your plugin has a feature where on the backend we can add a new user. I have membership plugin where members need to be created in the wordpress database first. Can you add the feature where when a user create an account directly in wordpress then for that current user it will create an account for them in firebase

[2020-05-14 03:41] dalenguyen commented on #39
@mcollinar @Rauljauregi for the frontend, it can be done. I will add this to the todo list.

[2020-05-14 03:45] dalenguyen commented on #43
Thanks @elmcapp, I will take a good look at an alternative solution. If you encounter any solutions, please let me know. I wonder how users log out if they don't see the log out button without the admin bar.

[2020-05-14 03:47] dalenguyen commented on #38
Hi @elmcapp, can you send me the snapshot of your current implementation? It's the login page after logging in.

[2020-05-14 04:14] dalenguyen commented on #44
Hi @elmcapp, which plugin is it, and how is the user created with the plugin? Thanks,

[2020-05-14 04:43] Rauljauregi commented on #39
Thank you!

[2020-05-14 08:50] elmcapp commented on #44
ARMember is the plugin. The plugin just use users that are already in the wordpress database.
Basically I was hoping that in the admin panel you could have an options that say: "create users from wordpress database"

Anyone that register on the wordpress website using the wordpress login and registration form it will  create new user account in firebase. If that's not easy maybe have a cronjob tha

[2020-05-14 09:00] kaiserlct opened #45 "Username"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I want my app users to use the forum on WP site to discuss feature and bugs and I want them to use their app firebase credentials. This will show everyone their email as username which has privacy issues.

**Describe the solution you'd lik

[2020-05-14 11:28] mcollinar commented on #39
You can integrate With the plugin Loco translate...

Could  be easier....
Do you know this plugin?

Em qui, 14 de mai de 2020 às 01:43, Rauljauregi <notifications@github.com>
escreveu:

--
Marcelo Collina
mcollina@gmail.com
www.facebook.com/marcelo.collina

[2020-05-14 18:25] mcollinar opened #46 "Be able to search others informations in a collection"
**Is your feature request related to a problem? Please describe.**
 Now a days, all the shortcode we can search for the document id.
I think that will be goog if we can search for all the informations.
For example:

[firestore class='your-class-name' collection_name='string'  document_search='email' document_name='string@gmail.com' display_fields='email,displayName,role,uid']

[2020-05-15 02:10] dalenguyen commented on #45
Thanks @kaiserlct for the suggestion. One solution that I can think of is to randomly generate a username for your app users, otherwise, it would require a custom process to access the Firestore then get their username from a specific field, and create a new User in WordPress. By doing this, the process to log in WordPress will take longer than usual which is not an optimal solution.

[2020-05-15 08:02] elmcapp opened #47 "version 0.18 is not will not log us in wordpress dashboard"
Can't log into the dashboard using version 0.18

[2020-05-15 08:10] elmcapp commented on #47
Sorry no issue!

[2020-05-15 08:10] #47 closed

[2020-05-15 08:21] kaiserlct commented on #45
Thanks for your reply; They can still log in with email authentication but all I want is the username to be displayed in the forum pages rather than users emails address.

[2020-05-16 01:14] mcollinar commented on #41
the shortcode works fine in the plugin...but i thought in something else. just like woocommerce did, or example....

[2020-05-16 01:16] mcollinar commented on #41
![Captura de Tela 2020-05-15 às 22 12 48](https://user-images.githubusercontent.com/35809337/82106802-b66f6c00-96f9-11ea-9443-3a5f924cb590.png)
![Captura de Tela 2020-05-15 às 22 12 10](https://user-images.githubusercontent.com/35809337/82106806-bcfde380-96f9-11ea-82aa-05e463032061.png)
for example this....

[2020-05-16 02:49] dalenguyen commented on #45
Thanks. Can a have the name of the plugin you are using for the forum? And a photo of how user is displayed on it?

[2020-05-16 03:17] kaiserlct commented on #45
The plugin is Asgaros Forum. These are examples of non-firebase create
usernames showing on the forum.

[image: image.png]

Cheers

Kaiser

lifechange.foundation <https://www.lifechange.foundation/>

On Sat, 16 May 2020 at 03:49, Dale Nguyen <notifications@github.com> wrote:

[2020-05-17 18:11] kazmetika opened #48 "Firebase SMS Phone verification"
Hi!

Do you plan to add SMS verification (Register user, update profile)?

BR

[2020-05-17 23:02] dalenguyen commented on #48
Hi @kazmetika, the plugin uses FirebaseUI Web and it does support Phone Authentication. I will add it to the roadmap.

[2020-05-18 08:04] kazmetika commented on #48
Hi!

Sorry for the additional questions, but it's important for me to buy the plugin.

You've written "Authentication", and what about "verification"?

For example - Verify the phone number via SMS of a newly registered user in WordPress or WooCommerce.

As I know FirebaseUI could, but it's needed using Recaptcha or some coding?

https://firebase.google.com/docs/auth/web/phone-auth

I wanna build

[2020-05-18 16:27] elmcapp opened #49 "Change button text using shortcode"
Could we have the option to change the button text using shortcode
[firebase_login redirect='/' button-text='next']

[2020-05-18 18:31] dalenguyen commented on #48
@kazmetika Sure, I will test the phone feature at the end of this week and let you know.

[2020-05-18 20:06] Neccer opened #50 "How to get the latest versions installed?"
How is the latest versions of the plugin installed? I have read though the docs, but cannot find any info about updating.

Du the whole plugin need to be deleted and reinstalled? Or can it be done in a easier way?

-Thanks

[2020-05-18 20:17] dalenguyen commented on #50
Hi @Neccer, you can do it by overriding the plugin folder. It can be done through an FTP client such as https://filezilla-project.org/

By doing this, you don't have to reenter the existing information.

[2020-05-18 20:59] elmcapp commented on #43
Where you able to find out the issue with not being able to logout of wordpress. Your plugin will logout from firebase however the wordpress user is still logged in.

[2020-05-18 21:16] dalenguyen commented on #43
@elmcapp Not yet, I will try some additional methods this weekend.

[2020-05-19 04:19] elmcapp opened #51 "Add forgot password"
should add forgot password button or link  to form when using shortcode for custom form.
![add](https://user-images.githubusercontent.com/64275658/82284158-5cbfa980-9966-11ea-9b61-dcabac797ea5.png)

[2020-05-19 09:52] kazmetika commented on #48
I appreciate it! See you

[2020-05-19 11:54] #50 closed

[2020-05-19 17:23] mcollinar opened #52 "Be able to include more than one shortcode for each page"
**Is your feature request related to a problem? Please describe.**
Actually, it is not able to include more than one shortcode for each page. If I try, the second Shortcode doenst show anything.

**Describe the solution you'd like**
This is a solution for Firestore or Realtime. Be able to include more than one shortcode. For example:

My account Page:

[firestore class='circle' collection_name='Us

[2020-05-19 18:33] mcollinar opened #53 "Shortcode Be able to bring a display or a image"
**Is your feature request related to a problem? Please describe.**
Actually,  is not possible to bring just a image. for example this shortcode:
[firestore class='circle' collection_name='Users' document_name='hHmTfzqCcgTbMChH2K2dF8AoYES2' images='foto']
will give me all the data that I have in the collection.

**Describe the solution you'd like**
Conect de ShortCode just with a image, without Dat

[2020-05-19 18:37] mcollinar opened #54 "My choice to bring the name of the display"
**Is your feature request related to a problem? Please describe.**
Actually when I use the shortcode 100% of the time it bring me "The name of the display" and "Data". for example:
[firestore class='circle' collection_name='Users' document_name='hHmTfzqCcgTbMChH2K2dF8AoYES2' display_fields='email']
email: mcollina@gmail.com

[firestore class='circle' collection_name='Users' document_name='hHmTfzqC

[2020-05-20 02:39] dalenguyen commented on #39
If you want to translate the word to your language, please create a excel file with English & your language next to it. After that you can send it to me. I’ll add the language in the next update.

[2020-05-20 02:59] Rauljauregi commented on #39
Yes I tryed , but for that previously the plugin has to be prepared. This
is called plugin internationalization, there is so much information on the
Internet. Basically is putting some tags to certain  texts and make a .POT
archive. Later with loco translate or other methods you can " localize"
which is translate to a language. This makes a ..PO and .MO archive for
that language that wordpress und

[2020-05-20 16:01] kushadapt opened #55 "Getting the UID in the input fields"
Hello, is it possible to add the UID in the input fields this would be a great feature !

[2020-05-21 20:27] elmcapp opened #56 "Javascript on all pages slowing down website"
Can we prevent JavaScript from loading on all pages. When I view the browser console I can see Firebase JavaScript on all pages. This causes site to run slower. We should only load JavaScript from the Firebase plugin only on pages the shortcodes are on

[2020-05-24 00:49] dalenguyen commented on #43
Fixed in v0.20.0

[2020-05-24 00:49] #43 closed

[2020-05-24 01:03] dalenguyen commented on #49
Fixed in v0.20.0

[2020-05-24 01:03] #49 closed

[2020-05-24 01:40] dalenguyen commented on #51
Fixed in v0.20.0

[2020-05-24 01:40] #51 closed

[2020-05-24 18:39] elmcapp commented on #51
Your are the best. Man you are a great programmer. Do you offer custom
jobs. I was thinking that you should make a full membership plugin with
paid subscriptions and also use with firebase login

[2020-05-24 19:44] dalenguyen commented on #53
Fixed in v0.20.0

[2020-05-24 19:44] #53 closed

[2020-05-24 20:14] dalenguyen commented on #54
Fixed in v0.20.0

[2020-05-24 20:14] #54 closed

[2020-05-24 20:15] dalenguyen commented on #52
Fixed in v0.20.0

[2020-05-24 20:15] #52 closed

[2020-05-24 20:55] dalenguyen commented on #41
This is an extra feature that is not suitable for the current development progress. Let bring up this one in the future.

[2020-05-24 20:55] #41 closed

[2020-05-24 23:24] elmcapp opened #57 "Edit login or register form title labels. Edit form labels"
Nice to be able to completely customize the login and registration form.
As of now we are able to:
redirect to url.
change button text.
include inputs.

All we need now is to be able to change the forms Title and if needed change the labels
first name, last name and other input fields.

[2020-05-25 03:57] kushadapt opened #58 "[Tutorial]How to change langue login/register"
Hi guys, I figured out how to change the language of the firebaseui login.

If it helps.

integrate-firebase-PRO\includes\public

Open class.firebase.php

In line 58 don't change anything except if you want to get Arabic (ar), Farsi (fa), and Hebrew (iw).

In line 64

Change this

`wp_enqueue_script('firebase_ui', 'https://www.gstatic.com/firebasejs/ui/4.5.0/firebase-ui-auth.js', array(), FIREBASE

[2020-05-25 13:37] JimGoodman opened #59 "Firebase Analytics integration"
**Describe the solution you'd like**
I’d like to have Analytics integrated so it’s seamless throughout

[2020-05-25 14:51] Rauljauregi opened #60 "Multisite compatible"
**Describe the bug**

The plugin it is not compatible for Multisite installations
**To Reproduce**
Steps to reproduce the behavior:
1. Create a Wordpress multisite installation
2. Install the plugin
3. Configure the plugin for a Firebase account
4. Login, or create an user. It will not work properly

**Expected behavior**
The main issue, is that users cannot  log in to WordPress, but other mal fun

[2020-05-25 19:13] Neccer opened #61 "Delete data"
It would be great to be able to delete (rows) of data.

[2020-05-26 02:21] dalenguyen commented on #61
Hi Neccer, it would be great if you could provide more context / example on how or where this action happens. Thanks,

[2020-05-26 14:40] dalenguyen commented on #58
Thanks, @kushadapt. Remember it will disappear when you update the next version. Then you can manually edit it.

[2020-05-26 14:42] dalenguyen commented on #51
Thanks @elmcapp. I only offer short custom work that relates to the plugin.

[2020-05-27 03:36] dalenguyen commented on #32
Firebase User Account available in v1.0.0

[2020-05-27 03:36] #32 closed

[2020-05-27 03:37] dalenguyen commented on #35
It will be added in v1.0.0

[2020-05-27 03:37] #35 closed

[2020-05-27 03:38] dalenguyen commented on #55
It will be added in v1.0.0

[2020-05-27 03:38] #55 closed

[2020-05-30 00:00] darioherrera opened #62 "Confirmation email is never sent after user registration"
I received the confirmation message but the user is never created.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the registration page
2.  Enter the data
3. It goes to the success page

**Expected behavior**
The user should receive a confirmation email and after the confirmation have to be shown in the users database in firebase. But this never happen.

[2020-05-30 00:51] dalenguyen commented on #62
Hi @darioherrera, the confirmation is not sent by default. It can be requested as a new feature.

After registration, the User should exist in the Authentication tab in Firebase. For saving User to Realtime / Firestore, it's another feature that needs to be developed can be done through cloud functions that listen to User Create event.

In case of Realtime / Firestore, which information should be

[2020-05-30 19:41] dalenguyen commented on #48
@kazmetika, I added phone authentication. However, it will not able to log in to WordPress for now because WordPress still needs an email to register. However, user can log in to Firebase on WordPress.

[2020-05-30 21:03] dalenguyen commented on #58
FirebaseUI Web translation supported in v1.0.0

[2020-05-30 21:03] #58 closed

[2020-05-31 19:48] dalenguyen commented on #48
Will be available in v1.0.0

[2020-05-31 19:48] #48 closed

[2020-05-31 19:49] dalenguyen commented on #39
.PO & .MO created for translation in v1.0.0

[2020-05-31 19:49] #39 closed

[2020-06-01 16:58] mcollinar opened #63 "Create My account Page"
I`m trying to create a My account page, but I cannot integrate the logged users with the Users collection.

For example, the user that are trying to log in is hHmTfzqCcgTbMChH2K2dF8AoYES2

and when this user logged in, I want to him see the information that are in this shortcode:
[firestore class='your-class-name' collection_name='Users' document_name='string']
How can I do this?

Describe the sol

[2020-06-01 21:59] dalenguyen commented on #63
Hi @mcollinar,

I will be applied like this:

[code]

[2020-06-02 00:05] kushadapt opened #64 "I can't get class:getFirebaseUid to work."
Hello! Thanks again for this recent update!

I have a form that works very well so I would like to have the UID in documentId

so I added this line and deleted the old one but I still get INVALID in my database.

[hidden documentId class:getFirebaseUid "INVALID"]

Namely I updated the plugin to v1.0 by replacing the files on filezilla. I have the v1.0 of firebase pro on wordpress.

I haven't updat

[2020-06-02 00:26] dalenguyen commented on #64
Hi @kushadapt, were you logged in when saving form? User needs to log in in order to retrieve their firebase Uid.

If you logged in with the plugin log form, and it still doesn’t replace the document_id, you can send the link to me. I can help to inspect it.

[2020-06-02 00:40] kushadapt commented on #64
What a mistake you were right! I was not connected with firebaseui, I was connected with wordpress directly sorry.
Sometimes we make life difficult for simple things.

Thanks for enlightening me!

[2020-06-02 00:40] #64 closed

[2020-06-04 17:44] riturajpandey opened #65 "Could not load user data!"
**Describe the bug**
Not able to see/remove data

**To Reproduce**
Just set up firebase on WordPress
Go to the database tab click on real-time and enter a collection name

**Expected behavior**
Let show or add data

**Screenshots**
[screenshot](https://drive.google.com/file/d/1LNexcBmny-Z3ajDXRgxzxRQmZ-5iFHGl/view?usp=sharing)

**Desktop**
 Chrome browser

[2020-06-04 22:38] dalenguyen commented on #65
Hi @riturajpandey, I think the configuration for settings is incorrect. Can you take a snapshot of that? You can sensor information in the picture.

And it would be great if you can open the console log on the browser to check for error messages.

[2020-06-05 07:52] riturajpandey commented on #65
<img width="1440" alt="Screenshot 2020-06-05 at 12 20 39 AM" src="https://user-images.githubusercontent.com/5201635/83850844-212b2a80-a72f-11ea-9b7b-3160f622107b.png">

It is showing me this error in the console.

I have cross-checked Base Domain,Dashboard and Frontend Token they are correct.I have used this [guide](https://firebase-wordpress-docs.readthedocs.io/en/latest/firebase-wordpress-integr

[2020-06-05 07:53] riturajpandey commented on #65
<img width="1438" alt="Screenshot 2020-06-05 at 1 23 26 PM" src="https://user-images.githubusercontent.com/5201635/83851295-c3e3a900-a72f-11ea-9d71-4a6b6273076e.png">
Snapshot of settings.

[2020-06-05 12:47] dalenguyen commented on #65
Hi @riturajpandey, if the process is correct. Your firebase console should include those functions.

![image](https://user-images.githubusercontent.com/14116156/83877709-034acf00-a709-11ea-9019-311660f2b5d0.png)

If those functions exist, and they still don't work. Send me an email at dale@dalenguyen.me, I will help you to inspect it.

[2020-06-05 13:24] riturajpandey commented on #65
Ok let me check the functions.

[2020-06-05 13:34] riturajpandey commented on #65
<img width="658" alt="Screenshot 2020-06-05 at 7 02 15 PM" src="https://user-images.githubusercontent.com/5201635/83881987-18524d00-a75f-11ea-9b7e-b38d873346de.png">
I don't have the functions with these names instead I am deploying my existing cloud functions which I have created.

Should I create functions like API-database etc?

Where can i find the definition of these functions?

[2020-06-05 13:45] dalenguyen commented on #65
Hi @riturajpandey,

It's in the plugin file when you first download. Please check the guide that I sent.

https://www.youtube.com/watch?v=D-xvzJ9K8jw

Thanks,

[2020-06-05 22:57] dalenguyen commented on #63
Will be available in v1.1.0

[2020-06-05 22:57] #63 closed

[2020-06-05 22:59] dalenguyen commented on #42
Fixed by plugin organizer

[2020-06-05 22:59] #42 closed

[2020-06-06 18:20] dalenguyen commented on #46
Will be added in v1.1.0

[2020-06-06 18:20] #46 closed

[2020-06-06 18:21] dalenguyen commented on #56
Added optimization guide on v1.1.0

[2020-06-06 18:21] #56 closed

[2020-06-07 07:56] Bikerflyeradmin commented on #65
can anyone tell me what the "base domain" is supposed to be?  I have finally got to the point where I have my frontend and dashboard tokens, but I do not know what to enter in the plugins settings where is calls for "base domain."  I have never heard that term before.  I just put my domain wikacy.com in there but it must be incorrect because I am getting the same "could not load user data" error w

[2020-06-08 16:18] dalenguyen commented on #65
@Bikerflyeradmin it's the cloud functions URL. Please watch the video at 7:44s.

https://youtu.be/D-xvzJ9K8jw?t=442

@riturajpandey did you manage to deploy the functions?

[2020-06-08 20:29] Bikerflyeradmin commented on #65
No, when I entered the command in the user guide to deploy the functions it gave me an error saying not found, or file not found or something to that effect.  Please help.

[2020-06-08 21:25] Bikerflyeradmin commented on #65
Can someone tell me what I have to do in firebase to get my "base domain" to show up the way it does in the video guide.

[2020-06-09 01:17] dalenguyen commented on #65
Could you please take a snapshot of the error and steps that you did? It’s easier to figure out what happens.

[2020-06-09 12:56] Rauljauregi opened #66 "Link auth provider credentials to an existing user account"
Allow users to sign in to WordPress using multiple authentication providers by linking auth provider credentials to an existing user account. So users would be identifiable by the same Firebase user ID regardless of the authentication provider they used to sign in.

[2020-06-10 18:04] mcollinar opened #67 "Put getFirebaseUid in all shortcode that we have in plugin"
**Is your feature request related to a problem? Please describe.**
Example:
 [firestore class='x' search_fields='criador' earch_operators='eq' search_conditions='getFirebaseUid' collection_name='Produtos' display_fields='categoria, sub_categoria, titulo, descricao, preco_original']

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alterna

[2020-06-10 18:09] mcollinar opened #68 "Allow us to search for content in a collection from data in another collection."
**Is your feature request related to a problem? Please describe.**
Allow us to search for content in a collection from data in another collection.

For example:

I am logged in with user 1 in the Users table (with the data User code and email, for example) and when clicking the button open a collection where the field to be searched for is the email.

**Describe the solution you'd like**
A clear a

[2020-06-11 03:09] dalenguyen commented on #68
Hi @mcollinar, can you give more detail on this. A drawing shows how it work will really help. Thanks,

[2020-06-14 04:52] dalenguyen commented on #67
Fixed in v1.2.0

[2020-06-14 04:52] #67 closed

[2020-06-14 04:59] dalenguyen commented on #66
The plugin now bases on User's email for creating a new account. It can get FirebaseUID as WordPress username. Is it ok?

[2020-06-14 09:45] Rauljauregi commented on #66
Thank you for the response,

I wanted to say to be able to link and unlink to other accounts.
![link-accounts](https://user-images.githubusercontent.com/53576209/84590095-e9f60100-ae33-11ea-88c7-94f89eaf6229.jpg)

More info:
https://firebase.google.com/docs/auth/web/account-linking

As long as now users can login with different social providers (Faceboook, Gmail, Apple,...) they should be able to

[2020-06-14 20:36] dalenguyen opened #69 "Import WordPress Users to Firebase"
**Is your feature request related to a problem? Please describe.**
A way to import current WordPress to Firebase Authentication Database. Keep the same password if it's possible.

[2020-06-14 20:39] dalenguyen opened #70 "Better methods for searching data in WordPress Dashboard"
**Is your feature request related to a problem? Please describe.**
Data is searched by using their Id which is not an optimized method for retrieving information.

**Describe the solution you'd like**
Add more filter inputs.

![image](https://user-images.githubusercontent.com/14116156/84603602-8b457d00-ae5d-11ea-85b7-0591220658af.png)

[2020-06-20 00:11] bejisan opened #71 "Sorting the list of a collection by timestamp. And hide some by filters. Realtime Database."
`Enhancement`  Would it be possible to display the list by blocks and sort it by a long value (timestamp) and then display it.

And maybe even apply filters to the display list by blocks on the wordpress frontend site. If a value is true and the filter is false... make the node disappear.

[2020-06-20 21:50] dalenguyen opened #72 "Add One tap signup feature"
**Is your feature request related to a problem? Please describe.**
Users logged in the browser can log in to WordPress & Firebase without entering username & password again

**Describe the solution you'd like**
Implement one tap signup from FirebaseUI Web
https://github.com/firebase/firebaseui-web

[2020-06-21 03:46] #72 closed

[2020-06-25 19:19] altechzilla opened #73 "🐛 Inconsistent Post Type Collection Names When Using Dashes or Underscores"
There's two glitches when syncing custom post types with Firebase.

If the post type has two words (with either an underscore or a dash), it renders that too instead of camel-casing it.

<img width="282" alt="Attachment" src="https://user-images.githubusercontent.com/8274669/85785090-78159580-b718-11ea-97fa-544385765a17.png">

I think they should be “wpMusicVideos” and “wpElementorLibraries” inste

[2020-06-25 19:20] altechzilla opened #74 "💡 Support for Custom Taxonomies"
Currently, taxonomies do not get their own collections in Firestore. Can you add an option where taxonomies get pushed too, and then they’re simply connected through IDs with their respective post objects?

[2020-06-25 19:21] altechzilla opened #75 "💡 Mass Push / Pull / Sync Data to Firebase"
It would be great of there was an option to mass push / pull or sync data for all enabled custom post types, taxonomies (once supported), users, etc.

[2020-06-26 13:57] bejisan opened #76 "load a realtime database document using 'userId' 's value instead having to put the actual Id"
Would it be possible to display a userId (pushId) so that I can display a User fields.

Also how can I have a form that changes users fields in the realtime database keeping the same userId and not creating a new pushId for the form.

I guess it comes to being able to make any form tape into a specific pushId so that people can modify its values

[2020-06-28 13:24] dalenguyen commented on #76
Hi @bejisan, userID can be generated automatically after they log in by putting a documentId field. Is it what you are looking for?

https://firebase-wordpress-docs.readthedocs.io/en/latest/database/save-data-realtime-firestore.html

[2020-06-28 13:28] dalenguyen commented on #65
Closed due to inactivity.

[2020-06-28 13:28] #65 closed

[2020-06-28 14:54] bejisan commented on #76
Yes It does work I get the right User's info rewritten, I lose some in the process, but it works.

However it works with firebaseweb-ui getCurrentUserId.

How could we modify a documentId after clicking on one element of the list. In my android app, I have documentChosen put EXTRA INTENTS to get to modify its value in another activity.

[2020-06-28 15:02] bejisan commented on #76
like ...

benevolat65
    |_actions
            |_-MAQX0nkNBmsd1bKq5zg
                    |_actionId: "-MAQX0nkNBmsd1bKq5zg"
            |_49545470-b49d-11ea-89e6-958f74228115
                    |_actionId: "49545470-b49d-11ea-89e6-958f74228115"
    |_conseils
           |_-M9UxGrC0hJJBtNrw9Hu
                    |_conseilId: "-M9UxGrC0hJJBtNrw9Hu"
    |_recherches
           |_-M9Oy2VS36qLLKUD8

[2020-06-28 16:03] dalenguyen commented on #45
This is fixed in V1.4.0

https://mailchi.mp/a04e9ca33841/integrate-firebase-pro-happy-changes-v0180-4748270

[2020-06-28 16:03] #45 closed

[2020-06-29 05:08] Bikerflyeradmin commented on #65
Im trying to tackle this again.  I would really like to get this plugin to
work.  Here is the error message I get when I try to install the functions
with the command you provided in the tutorial.

C:\Users\owner>npm i -g firebase-tools
npm WARN deprecated request@2.88.2: request has been deprecated, see
https://git
hub.com/request/request/issues/3142
C:\Users\owner\AppData\Roaming\npm\firebase ->

[2020-06-29 06:07] Bikerflyeradmin commented on #65
im getting the same "could not load user data" error

JQMIGRATE: Migrate is installed, version 1.4.1
/wp-admin/wikacy.com/api-database/v1/getDoc:1 Failed to load resource: the
server responded with a status of 404 (Not Found)
firebase-admin.js?ver=1.0.0:1 Could not load user data!
t.showFirebaseErrorMessage @ firebase-admin.js?ver=1.0.0:1
jquery.js?ver=1.12.4-wp:4 POST
https://wikacy.com/wp-admin/

[2020-06-30 01:02] PeraDev7 opened #77 "Mobile API"
Is it possible to integrate this plugin with API for mobile? Thanks

[2020-06-30 23:54] dalenguyen commented on #77
Hi @PeraDev7,

Can you explain more about integration for mobile? How would you like to do it?

Thanks,

[2020-07-01 08:55] bejisan opened #78 "Edit a document, by using documentID not the actual pushID of that item's node."
How could we modify a documentId after clicking on one element of the list.

 In my android app, I have documentChosen put EXTRA INTENTS to get to modify its value in another activity.

like ...

benevolat65

              |_-MAQX0nkNBmsd1bKq5zg

                            ...
                            |_actionId: "-MAQX0nkNBmsd1bKq5zg"
                            ...
              |_49545470-b

[2020-07-01 08:56] #76 closed

[2020-07-02 11:32] bejisan opened #79 "Display document respecting <br> and such."
Is it possible to display a relative database string field that respect `<br>` and tabs

I get a String through a textarea* with your code.

And it retains \r\n\r\n•\t returns and tabs space after a dot like in a `<ul>.`
But when I display that String, returns to line aren't taken into account, nor tab spaces.

[2020-07-02 13:10] dalenguyen commented on #79
Hi @bejisan, HTML tags will be shown when you display them on the frontend. How is your data look like in the database? And which shortcode that you used to display / save the data?

If you have a test link, you can send it too.

[2020-07-02 14:25] bejisan commented on #79
string on the realtime database

"Missions : Proposer, mettre en œuvre et animer, en étroite collaboration avec le Président de la Banque Alimentaire, la stratégie de mécénat, afin de bénéficier de différents types de mécénat : financier (subventions d’investissement et de fonctionnement), de compétences ou technologique, de solidarité (participation à la collecte…), de dons en denrées, de dons en

[2020-07-02 14:27] bejisan commented on #79
display code ...

[realtime_blocks class='recherches' collection_name='recherches' display_fields='rechercheName,rechercheCreatorAssociation,Précarité,Alimentaire,Education,Santé,Environnement,Animaux,Handicap,LienInterGénérationnel,rechercheDescription,rechercheContent,rechercheDate,rechercheCreatorName,rechercheTel,rechercheEmail' images='Thumbnail'] [firebase_error class='actions'][/firebase_er

[2020-07-02 14:32] bejisan commented on #79
De : Benjamin DROGE <beji4@hotmail.com>
Envoyé : jeudi 2 juillet 2020 16:27
À : dalenguyen/firebase-wordpress-plugin <reply@reply.github.com>
Objet : RE: [dalenguyen/firebase-wordpress-plugin] Display document respecting <br> and such. (#79)

display code ...

[realtime_blocks class='recherches' collection_name='recherches' display_fields='rechercheName,rechercheCreatorAssociation,Précarité,Alimen

[2020-07-02 15:01] bejisan commented on #79
Sorry for the triple post, I put an image as an attachement. I just realized it did post on GitHub as well. Sorry it's so new to me.

[2020-07-02 15:26] dalenguyen commented on #79
@bejisan It's fine. I will check it this weekend.

[2020-07-02 15:34] bejisan commented on #79
Thank you so much sir.

[2020-07-03 22:59] dalenguyen commented on #79
This is added in v1.5.0. Newline is supported but not for tab.

https://stackoverflow.com/questions/20414504/how-do-i-replicate-a-t-tab-space-in-html

[2020-07-03 22:59] #79 closed

[2020-07-04 13:44] dalenguyen commented on #78
Hi @bejisan is the actionId / id is the same with the documentId - `MAQX0nkNBmsd1bKq5zg`?

[2020-07-04 14:18] dalenguyen commented on #73
The collection name will be based on the post type plural label in v1.5.0.

[2020-07-04 14:18] #73 closed

[2020-07-04 14:19] altechzilla commented on #73
Does it remove dashes and underscores too? @dalenguyen

[2020-07-04 14:21] dalenguyen commented on #73
@altechzilla Yes it does.

Fancy-Cars -> wpFancyCars
Fancy_cars -> wpFancyCars
Fancy Cars -> wpFancyCars

[2020-07-04 14:23] altechzilla commented on #73
Any reason they're prefixed with wp? Is there a case where the plugin would do a different prefix base?

[2020-07-04 14:25] dalenguyen commented on #73
It's because it comes from WordPress and I don't want it to be a conflict with existing collection names in people database.

[2020-07-04 14:25] altechzilla commented on #73
Gotcha, makes sense!

[2020-07-04 17:48] bejisan commented on #78
Yes I used documentId as a way to generalize the concept, but yeah I have created Ids which are the parent of all inside of them, and inside I have actionId again as a reference.

I need a way to tape into the Id by not entering the actual Id just a reference word... like actionId, rechercheId or conseilId.

[2020-07-05 14:47] dalenguyen commented on #78
I'm not entirely clear on this yet, but if you are good at JavaScript. There is a way to add custom / complex tasks on the top of the plugin to serve your needs.

Example of the custom script:

https://firebase-wordpress-docs.readthedocs.io/en/latest/database/retrieve-data-from-firestore.html#

[2020-07-06 11:26] bejisan commented on #78
I have difficulties adapting your .js code.

You used a firestore exemple, where I only have realtime database.

especially at
 docRef.get().then(doc => {

and what do you mean by  // You can get the collectionName and documentName from the shortcode attribute

I display all Recherches as a block-list

[code]

[2020-07-06 13:28] dalenguyen commented on #78
Hi @bejisan, it's an example of how to add a custom script to achieve what you need. You don't have to look into the detail of the code because it may not be the one that can accomplish your tasks. I suggest for custom tasks, you can hire someone to add it on top of the plugin.

[2020-07-08 17:39] altechzilla opened #80 "Custom Meta Data Support"
I noticed that the plugin doesn't sync custom meta to Firebase, which would be extremely useful. Any chance to make that happen @dalenguyen ? There's a plugin called Post Meta Inspector which has some functions that may help get that meta from the database.

[2020-07-09 19:58] dalenguyen commented on #80
Thanks @altechzilla, I will take a look at this at the weekend.

[2020-07-10 08:30] altechzilla opened #81 "Developer API"
It would be great if there was a developer API (actions and filters) that allows connecting various Firebase stuff throughout other plugins / themes, for example:

## Firestore

**Get a Firestore Collection**
`firebase()->firestore->get_collection( $collection_id, $args = array() );`

**Get a Firestore Collection Object**
`firebase()->firestore->get_item( $collection_id, $post_id, $args = array()

[2020-07-10 18:18] bejisan commented on #78
Hi, I managed to display IDs through jQuery. and append to create a link.
On click on that link it opens a wrodpress custom-page with the ID inside the url through $.ajax $_GET method.
Then I retrieve the id in php.

Now my question: is it possible to escape the "string" inside the contact form 7 fields of your code, in order to input variables (ie the Id taken from the php file) or are we stuck w

[2020-07-10 20:38] dalenguyen commented on #78
Hi @bejisan, in order to understand the `is it possible to escape the "string" inside the contact form 7 fields of your code, in order to input variables (ie the Id taken from the php file) or are we stuck with using "strings".`. Can you give an example of form or fields that you are trying to do? Maybe a drawing/diagram?

[2020-07-10 22:47] bejisan commented on #78
I'm trying to use the id string inside the form which writes into realtime database.

[radio rechercheId label_first default:1 $rechercheId]

but so far I can only put

[radio rechercheId label_first default:1 "SomeIDstring"]

does your code supports %%wildcards%% ?

custom-firebase.js >>> create and display <a href with the ID> >>> onClick execute $.ajax that adds ?id=someIDstring to the url >>>

[2020-07-11 13:37] dalenguyen commented on #81
Thank @altechzilla, It's a great suggestion. I will definitely look into this.

[2020-07-11 14:50] dalenguyen commented on #62
Hi @darioherrera, the plugin has the option to login via email without a password. Have you tried it?

[2020-07-11 15:16] dalenguyen commented on #80
Hi @altechzilla, are you using Advanced Custom Fields to create custom meta?

[2020-07-11 15:17] altechzilla commented on #80
Using jetEngine, but I think it should support custom meta regardless of the plugin used.

[2020-07-11 16:05] dalenguyen commented on #80
Added in v1.6.0. Custom fields will be under custom_fields.

![image](https://user-images.githubusercontent.com/14116156/87228364-c066c180-c36e-11ea-8f06-39a196809db5.png)

[2020-07-11 16:05] #80 closed

[2020-07-11 20:20] dalenguyen commented on #71
Added orderBy to getting realtime database by blocks. It is based on `orderByChild()`.

`[realtime_blocks class='your-class-name' collection_name='blog' display_fields='title,description,more' images='url' order_by='title']`

The filter can come later. I will close this for now.

Available in v1.6.0

[2020-07-11 20:20] #71 closed

[2020-07-11 20:41] dalenguyen commented on #78
Hi @bejisan, not sure if this is what you what. In order to prefill an input, It can be done through JavaScript only.

For example,

`[radio rechercheId label_first default:1 getRechercheId]`

Then after you get the `rechercheId`, you can prefill the input value of the form easily by jQuery.

`$('#input-selector').val($('rechercheId value')`

[2020-07-12 00:31] hgalarreta opened #82 "Firebase Storage"
Hello. I would appreciate some guide to upload an image to **Storage**, and later read it somewhere else.
I can make the code in js. But I need help with the configuration; in your PRO plugin we have apiKey, authDomain, databaseURL, but no access to the storageBucket.

So, how to start with Storage. Thank you for your support.

[2020-07-12 04:26] bejisan commented on #78
Nice thank you.

Télécharger Outlook pour Android<https://aka.ms/ghei36>

________________________________
From: Dale Nguyen <notifications@github.com>
Sent: Saturday, July 11, 2020 10:41:50 PM
To: dalenguyen/firebase-wordpress-plugin <firebase-wordpress-plugin@noreply.github.com>
Cc: bejisan <beji4@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [dalenguyen/firebase-wordpress-plug

[2020-07-12 04:27] bejisan commented on #71
Thanks a lot Dale

Télécharger Outlook pour Android<https://aka.ms/ghei36>

________________________________
From: Dale Nguyen <notifications@github.com>
Sent: Saturday, July 11, 2020 10:21:06 PM
To: dalenguyen/firebase-wordpress-plugin <firebase-wordpress-plugin@noreply.github.com>
Cc: bejisan <beji4@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [dalenguyen/firebase-wordpress-plug

[2020-07-12 16:05] bejisan commented on #78
I managed to change the Name and the value of `[radio rechercheId label_first default:1 getRechercheId]`

executing the script 3 seconds after yours. (setTimeout). but even though the value is the right ID (and the name as well, but that's just cosmetics) When I submit the form, it creates another pushID, and doesn't overwrite the form I want it to overwrite.

`<script type="text/javascript" >

[2020-07-14 00:53] dalenguyen commented on #82
Hi @hgalarreta, storage bucket is added in v1.7.0, and will be available by end of the weekend.

[2020-07-14 00:53] #82 closed

[2020-07-14 01:44] dalenguyen commented on #78
I'm glad that it's getting somewhere. do you have a link for this?

The value is replaced by <input type="radio"> won't affect the Id that is saved to the database after submitting the form. The id is defined by a hidden field name documentId.

`<input type="text" name="documentId" value="will-be-generated">`

If you want to replace the rootId, you have to target the documentId.

If you have to sa

[2020-07-14 07:03] bejisan commented on #78
http://benevolat65.fr/recherches/

you have to scroll down to the bottom of the page and click on ... preferably
ffece000-c59e-11ea-a4ef-47ca6a399233

I have a bug in my javascript, coz every item I create I get multiple duplicate sending/success/finished messages,
so I commented those popup messages

[code]

[2020-07-14 09:06] bejisan commented on #78
nevermin added `[hidden documentId "will-be-generated"] `
to my form.

and changed my javascript to .. `$('input[name="documentId"]').val($rechercheId);`

and it works !! Thanks a lot for all the support.

[2020-07-14 17:44] dalenguyen commented on #78
Awesome @bejisan, this should make a good tutorial on how to custom / extend the plugin 😍

[2020-07-14 17:44] #78 closed

[2020-07-15 03:01] bejisan commented on #78
Go for it. If you need more of my code just ask.

[2020-07-19 13:44] Bikerflyeradmin opened #83 "Allow easy customization of collection names sent to firebase."
I just think it would be a good idea to chose the collection name of the data being sent to firebase, along with the childkeys.  For example, my app uses the collection name "posts," but the WordPress posts are being sent to firebase as wpPosts.  Also, there is a lot of extra data in the posts that I don't need sent to firebase.  It would be nice if we could chose what data gets sent, and the labe

[2020-07-19 22:50] dalenguyen commented on #83
Thanks @Bikerflyeradmin, I will add the author info in the next update.

[2020-07-20 08:09] Bikerflyeradmin commented on #83
Awesome!  That would be great!  Oh, and I figured out how to style the data
from firebase!

On Sun, Jul 19, 2020, 6:50 PM Dale Nguyen <notifications@github.com> wrote:

[2020-07-20 20:56] hgalarreta opened #84 "No Storage Bucket defined - V 1.7"
**Describe the bug**
Not sure if it's a bug, but I configured the Bucket Storage with: "my-app.appspot.com" and checked the Storage option as described in the instructions; but when using a simple code to update an image to firebase Storage, I get the "Uncaught Error: No Storage Bucket defined in Firebase Options.”

To reproduce the behavior: On an empty wordpress page, using html editor:

[code]

[2020-07-20 21:35] dalenguyen commented on #84
Hi @hgalarreta, the plugin already added storage script, so you don't have to append it yourself.

[code]

![image](https://user-images.githubusercontent.com/14116156/87988639-ac2d6d80-caae-11ea-8ea4-4de4921bf377.png)

`firebase.storage()` is available in the console log.

I saw a misconfigured in the firebase initialization. It will be fixed and released in a few hours. Thanks for your ticket.

[2020-07-21 12:38] #84 closed

[2020-07-22 05:39] hgalarreta commented on #84
Perfecto. works as a charm, thanks. Now the only thing missing is custom notifications, like to a specific token hehe

[2020-07-24 10:47] vkgven opened #85 "Not creating wordpress user when signup"
Hi,

I am developer trying to install Integrate Firebase PRO plugin brought by my client.

I have successfully installed it but it's not creating wordpress user when we signup..

Process I Did:
1. I installed and configured Integrate firebase pro.
2. I can create firebase users using this form [firebaseui_web][/firebaseui_web]
3. In Firebase->Auth I checked Allow Login to WP Dashboard. But it is n

[2020-07-25 17:19] dalenguyen commented on #59
Firebase Analytics is added in v1.9.0

[2020-07-25 17:19] #59 closed

[2020-07-25 17:40] dalenguyen commented on #83
Author data is added in v1.9.0

[2020-07-25 17:40] #83 closed

[2020-07-25 17:49] Bikerflyeradmin commented on #83
Do I have to update the functions as well, or just the plugin, and if I
just upload the new plugin via ftp will it overwrite without losing my
settings and configurations?

On Sat, Jul 25, 2020, 1:40 PM Dale Nguyen <notifications@github.com> wrote:

[2020-07-25 17:57] Bikerflyeradmin commented on #83
Thank you, by the way!  But I would still like to register new users in the
app via the API.  Do you recommend a good oAuth plugin to use?

On Sat, Jul 25, 2020, 1:49 PM Daniel Perley <admin@bikerflyer.com> wrote:

[2020-07-25 19:16] bejisan opened #86 "Creates a new user instead of getFirebaseUid since 1.6.0"
**Describe the bug**
When using `[hidden userId class:getFirebaseUid "INVALID"]` it creates a new userId when submiting the form, not rewriting over the current userId.

`<input type="hidden" name="userId" value="KimUQZsGmud9MTLCeri1stWvv403" class="wpcf7-form-control wpcf7-hidden getFirebaseUid"> `

`KimUQZsGmud9MTLCeri1stWvv403` is the right userId to rewrite over.... but it does creates a new u

[2020-07-25 19:44] dalenguyen commented on #86
Hi @bejisan, the node is defined by `documentId` field. Not `userId`. It works as intended.

[2020-07-25 19:48] Bikerflyeradmin commented on #83
Ok, then perhaps an oAuth plugin is not necessary to utilize your plugins
API user registration endpoint, since you don't know of one.

Can you provide further guidance on the plugins user registration endpoint,
such as whether authentication to the server is needed, and how to set the
body and the headers of the request?

Thanks for the new features!

On Sat, Jul 25, 2020, 3:42 PM Dale Nguyen <no

[2020-07-25 19:49] bejisan commented on #86
Yeah, my bad. Nevermind this message.

[2020-07-25 19:49] #86 closed

[2020-07-26 06:07] Bikerflyeradmin commented on #83
Dale, do you possibly have a video tutorial on how to create the contact
forms for users to manage their firebase data?  In your user guide, the
example form looks like shortcodes, but I can't find any way to create form
feilds with shortcodes.

Any help?

On Sun, Jul 19, 2020, 6:50 PM Dale Nguyen <notifications@github.com> wrote:

[2020-07-26 06:17] Bikerflyeradmin commented on #83
Nevermind for now, I think I found it in your answer to the other guys
question about it.  You see, I already use forminator because they made a
custom front end story post form for me, and I really don't want to upload
another plugin.  So I am trying to create a form in forminatornso users on
the site can create and manage a character in the app, and also edit their
stories.

On Sun, Jul 26, 2020

[2020-07-26 06:49] Bikerflyeradmin commented on #83
Nevermind again, I couldn't figure it out from that either.  Man, Dale,
when I figure all this out I am going to volunteer to help you with your
user guide a little.  I am good at teaching things step by step and
actually explaining things because I have had such a hard time with
tutorials that don't teach anybody anything.

On Sun, Jul 26, 2020, 2:17 AM Daniel Perley <admin@bikerflyer.com> wrote:

[2020-07-26 08:59] Bikerflyeradmin commented on #83
I'm not going to even dare trying to update the plugin with such a lack of
guidance and mess up everything I have achieved.  The user guide says to
read the readme file to figure out if we need to update the functions, but
the readme file doesn't say anything about it.

On Sun, Jul 26, 2020 at 2:49 AM Daniel Perley <admin@bikerflyer.com> wrote:

[2020-07-26 09:06] Bikerflyeradmin opened #87 "Ability to update plugin through wordpress."
It would be wonderful if we could update the plugin through wordpress.

[2020-07-26 12:03] altechzilla commented on #87
I recommend [Kernl](https://kernl.us) for this @dalenguyen - I've used it a lot in the past and it's pretty seamless.

[2020-07-27 07:01] TheWizardofWikacy opened #88 "Please add built in forms where we can select the collection name we want users to access as well as link fields in the form with certain child keys in firebase. If you can't do this, can you please explain in the user guide how we are to configure the form fields so that they update the data located under certain childkeys in firebase."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Wh

[2020-07-30 02:43] dalenguyen commented on #87
For the moment, manually update this only option.

[2020-07-30 02:43] #87 closed

[2020-07-30 02:44] dalenguyen commented on #60
@Rauljauregi, authentication support for multisite is available in v1.10.0. It's not available until next week.

[2020-07-30 02:44] #60 closed

[2020-07-30 06:58] Rauljauregi commented on #60
Thank you Dale,
I am willing to check it out. Hope everithing will work properly. I will let you know.

Congrats in advance!
:)

[2020-07-30 20:01] Bikerflyeradmin opened #89 "Dynamic Links withing Firebase Listmaps"
I realize this would probably be a special dev request for which I would like to get an estimate for.

I need to display firebase data in a list, such as the built in post list in WordPress, so that when a user clicks on it they will go to the full document.

Also, dynamic links, so that a user can display their firebase documents in their profile, so that when a visitor clicks on it they see the

[2020-07-31 18:29] mcollinar opened #90 "Show a information of two collection in one search."
Hello,

I would like to request a feature.
I would like to show data from one collection and from there, search for information in another collection.

For example: I have a Products collection, there is a data called Uid, which shows the user who created this product. I would like that instead of showing the UID, it would show the Username. This name is in a collection that has the UID, called Us

[2020-07-31 20:18] mcollinar opened #91 "Build a display-firestore-collection with a link to a firestore document"
Hi,

I wanted to ask for something
I wanted to create a page showing all the products in a Collection called Products, showing the simplified information and showing a link in which when accessing it, it would go to a Product page that was clicked with all the product information.

In other words, in Wordpress we would have a product page with all the information from the Firestore collection Prod

[2020-07-31 21:23] cankorfali opened #92 "Automatically generate user in Firestore or Realtime Database"
**Is your feature request related to a problem? Please describe.**
When would you like to use just the firebase WebUI on WordPress, the firebase can create the WordPress user and firebase user however it can not create a user automatically in Firestore or Realtime Database, user can only be shown in Authentication tab.

**Describe the solution you'd like**
I would like to use just the firebase Web

[2020-08-01 18:48] kikaua opened #93 "Dashboard/Frontend API Secret Token help needed"
Hello everyone.  I have the Integrate Firebase PRO (v1.9.0) installed and configured correctly with Base Domain and Dashboard/Frontend API Secret Token.  From WordPress/Firebase Database tab I can put in users and a UID and get returned results as expected.

From a WordPress page I can login with Firebase email and passwords, BUT with the following:

[firebase_login button_text='Signin' redirect='

[2020-08-01 19:22] dalenguyen commented on #93
Hi @kikaua, the rule should be appropriately set. It is for everyone if the collection is public or testing.

Is there any error or warning in the browser console log? And do you have a test link for this?

[2020-08-01 19:30] kikaua commented on #93
@dalenguyen url: https://www.explico.ai/firebase user: sschroedl@gmail.com and passwd: asdfasdf  From firebase function logs I see requests in function logs for WordPress>Firebase>Database requests, but no requests from the url i just shared.

[2020-08-01 19:48] dalenguyen commented on #93
Hi @kikaua, there is an error in the console log that may causes the issue.

![image](https://user-images.githubusercontent.com/14116156/89109336-3d390880-d40e-11ea-89e2-c8f1e426d46d.png)

Could you please sure the configuration on **Firebase > General** is exactly the same in your firebase project? Especially the **database URL**.

[2020-08-01 19:57] kikaua commented on #93
That fixed it, but also very odd as i copied and pasted all the info, but somehow the url added the www. to the base url.

[2020-08-01 20:09] dalenguyen commented on #93
Nice. I'm glad that it's fixed :D

[2020-08-01 20:09] #93 closed

[2020-08-01 21:17] kikaua opened #94 "Upgrade instructions?"
I got your email with the announcement of Integrate Firebase PRO (v1.10.0), and I am new (July 28, 2020).  I went back to the purchase page and logged in via google, but the download link is for Integrate Firebase PRO (v1.9.0).  Where do I find the 1.10.0 download link?

Thanks

FYI: I think this is a code typo from user guide: Retrieve Data and Display on WordPress, Step 2: Add custom javascript

[2020-08-02 13:37] dalenguyen commented on #94
Thank @kikaua, it should be fixed now. You can download it again in the purchase page.

[2020-08-02 13:37] #94 closed

[2020-08-02 17:23] Rauljauregi commented on #60
Dear Dale,

I have installed new version but unfortunately it is not working. In facct the issues are the same as before.

-You can login on one site of the multisite and you login through Firebase, but that is not enough because you keep not login on the rest of the sites of the multisite.
- Even if you login itiis just for that site and fot Firebase. But you are NOT logged to Wordpress. I mean y

[2020-08-02 17:25] Rauljauregi commented on #60
I forgot to say that the plugin doesn't login to WooCommerce either

[2020-08-02 21:14] mcollinar opened #95 "Include two more information in Load users"
Include 2 more informations in https://bocaboca.net/wp-admin/admin.php?page=firebase-setting&tab=users
- created on
- Connected

be able to upload the data with this 2 informations

[2020-08-03 01:36] dalenguyen opened #96 "[Paid Request] - Send Email Verification After Registering"
**Is your feature request related to a problem? Please describe.**
The owner wants to send an email verification after a user registers through [firebase_register] shortcode.

**Describe the solution you'd like**
Add an option `send_email_confirmation="true"` in the [firebase_register] shortcode

**Which fields does it relate to?**
Firebase Auth

[2020-08-03 01:38] dalenguyen opened #97 "[Paid Request] - Redirect after logging out"
**Is your feature request related to a problem? Please describe.**
The web owner wants to redirect users after they log out using [firebase_logout] shortcode.

**Describe the solution you'd like**
Add an option for logout: `redirect="/"` in the [firebase_logout] shortcode.

**Which fields does it relate to?**
Firebase Auth

[2020-08-03 06:31] Bikerflyeradmin opened #98 "ADD FIREBASE UID OF POST AUTHOR TO DATA BEING SENT TO FIREBASE WITH POST"
Any apps built with the firebase authentication system use the FIREBASE UID of the user to identify that users data, not the wordpress "ID."

Please add the FIREBASE UID of the post author to the data which is sent to firebase with the posts.

Note:  Also, in response to the first time I requested this, you added a duplicate child node (author) containing redundant author info(name, I.D. [wordpres

[2020-08-03 15:51] dalenguyen commented on #97
Added in v1.11.0

[2020-08-03 15:51] #97 closed

[2020-08-03 15:51] dalenguyen commented on #96
Added in v1.11.0

[2020-08-03 15:51] #96 closed

[2020-08-03 16:54] kikaua opened #99 "Quote for paid features update"
Posting here as I can not find an email to reach you.

Seeking a quote for changes to shortcode realtime_col (or recommendation of a better way) for Realtime to allow returned results must have a child (Users>UID>AdminLevel) of X and a second child (Users>UID>Organization) of Y.  This would make it so the logged-in user is an admin of the organization to see the list of users for their organizatio

[2020-08-04 20:24] dalenguyen commented on #62
Confirmation is added in v1.11.0

https://firebase-wordpress-docs.readthedocs.io/en/latest/auth/register-login-form.html

[2020-08-04 20:24] #62 closed

[2020-08-05 03:24] mcollinar opened #100 "[Save on Firestore] changing the type of a information"
All the information that Contact form 7 sent to Firestore are comming like Type String...But i need to sent Bollean, Number, and other types...

This is my Contact form 7:

[hidden collectionName "Produtos"]
[hidden databaseType "firestore"]
[hidden criador class:getFirebaseUid "INVALID"]
[hidden dateType "data_nascimento"]
[hidden mapTypes "endereco"]
[hidden fileType "fotos"]

[file fotos__0 lim

[2020-08-05 18:41] dalenguyen commented on #99
Hi @kikaua, the plugin is built on top of Firebase & WordPress. Feel free to have an inhouse developer or freelance to accomplish complicated tasks with custom scripts. Please have a look at the Developer section.

https://firebase-wordpress-docs.readthedocs.io/en/latest/developer/retrieve-data.html

[2020-08-06 01:25] Bikerflyeradmin commented on #92
Yes I would love for this to be added as well.

[2020-08-06 01:27] Bikerflyeradmin commented on #91
Yes I am trying to do the same thing with my firebase data.  Display the entire collection with each a link to the full document.  Such as a listmap with onclick events.

[2020-08-06 01:32] Bikerflyeradmin opened #101 "Need Documentation on Uploads to Firebase Storage and Registration via api"
I noticed in the new version there is support for uploading to firebase storage from WordPress, but I can't find anything about how to do this in the user guide.

Also, the user guide mentions the ability to register new users in WordPress when they sign up in firebase, but there is no documentation on the auth method and how the params need to be configured.

Can you please add some documentation

[2020-08-06 11:55] nandofalcao opened #102 "SRC folder not found in the functions folder"
SRC folder not found in the functions folder from download file for the pro version

[2020-08-06 12:35] dalenguyen commented on #102
Hi @nandofalcao , it doesn't have the src folder. The script is complied. You just need to follow the guide to deploy the functions.

[2020-08-06 13:01] mcollinar commented on #91
Yeah...just like a E-commerce...
1- You search for a categories ( See all products in the collection);
2- You find a lot of products in these categories (See all products ins this categories)
3- You choose 1 product to see mor details (Product Page) <--
4- You Add to a cart (New Collection)

Something like these, right?

[2020-08-06 13:25] #102 closed

[2020-08-06 13:25] dalenguyen commented on #101
Hi @Bikerflyeradmin, you can utilize the search feature to search for the content that you want.

![image](https://user-images.githubusercontent.com/14116156/89537073-cfeaf600-d7c6-11ea-893c-b984a085cc9c.png)

[2020-08-06 13:25] #101 closed

[2020-08-06 13:27] nandofalcao commented on #102
why is it compiled?
I don't feel safe using something compiled. I need to know what is being done with my critical information. Right?

[2020-08-06 13:52] dalenguyen commented on #102
I understand your point. It's a way protect the code and prevent people from tampering it. Actually most of products or scripts on the web are compiled and minified. It's a common practice.

You can have a test site to test the features. The functions are only for WP Dashboard management, you can use it on the frontend without installing the functions.

And you can always write your own functions,

[2020-08-06 16:46] Bikerflyeradmin commented on #101
I'm sorry, I actually found it just now!  Thank you!

On Thu, Aug 6, 2020, 9:26 AM Dale Nguyen <notifications@github.com> wrote:

[2020-08-06 16:47] Bikerflyeradmin commented on #91
I just discovered this can be achieved by customizing the code which
displays the data.

It's in the custom claims section in the user guide.

On Thu, Aug 6, 2020, 9:01 AM mcollinar <notifications@github.com> wrote:

[2020-08-06 18:24] bynikoala opened #103 "Update Firestore document instead of completely overwriting"
When my users update their account information trough a wordpress contact-form, the Firestore document gets completely overwritten.

Instead of just overwriting the document, it would be nice if just the relevant information gets updated.

Until now I catch the update through an own Firebase Function and merge those together.

**Which fields does it relate to?**
Firebase Firestore, Storage...

[2020-08-06 23:17] Bikerflyeradmin commented on #101
Dale, please tell me what type of authentication is needed to do this?

The Integrate Firebase PRO has its own Restful API endpoints that help to
create a new WordPress user.

In this scenario, when you have a mobile app, and you want to duplicate
user in WordPress, you can call the API to create a new User after user
register on your app.

Endpoint: POST https://example.com/firebase/v2/users/regi

[2020-08-07 05:07] Bikerflyeradmin commented on #101
I see now you have the firebase user id sent as user_login.  Thank you.

On Thu, Aug 6, 2020, 7:16 PM Daniel Perley <admin@bikerflyer.com> wrote:

[2020-08-07 07:07] Bikerflyeradmin commented on #103
I requested this same feature.  This would make a lot more sense.

[2020-08-07 07:11] Bikerflyeradmin opened #104 "Registration form returns userId required but secretly registers the user anyway"
When I use the shortcode in your user guide to create a registration form, no matter what it always returns the error "userId required"

But when I check in the dashboard it registered the user.

So users will not know they are registered because they get the error.  And if I take the error shortcode off, then the user will know nothing because the form does not redirect or do anything to let the

[2020-08-07 11:29] dalenguyen commented on #104
Which version of the plugin are you using? If you are using an older version than v1.11.1, please update it.

[2020-08-10 07:48] alexx855 opened #105 "Woocommerce trying to create the account while logged in and the account already exists"
**Describe the bug**
Woocommerce trying to create the account while logged in and the account already exists, also i think that if the user is logged in, the email, password and account forms in wc should not be shown since im already logged in

**To Reproduce**
Steps to reproduce the behavior:
1. Clean Wordpress + Woocommerce + storefront install
2. Install latest plugin version and configure
3.

[2020-08-10 08:19] alexx855 commented on #105
![image](https://user-images.githubusercontent.com/1799851/89763543-08eed780-daf3-11ea-9c0e-1af95cd395ca.png)

[2020-08-10 15:14] FernandoTangi opened #106 "I can`t download a update version of Firebase Pro"
I made a purchase for Firebase + wordpress pro on April 13 2020.

However, when I went to download the upgrade (I logged in as fernandotangi@gmail.com) of the version and the page appears for me to buy the plugin again. Could you send me the pro version? or solve the problem on the page?

Best regards,

Fernando

[2020-08-10 15:19] dalenguyen commented on #106
Hi @FernandoTangi,

Your payment at that time was failed. It didn't go through the system.

[2020-08-10 15:19] #106 closed

[2020-08-10 15:54] FernandoTangi commented on #106
Hi, Dale.

I understood what happened: I made a first payment with a credit card and it appeared that it was purchased. Then he started cashing in $ 5 all day 10.

I need you to cancel this payment number of card: (4004 8800 1113 ....), which appears to be automatic.

[2020-08-10 15:57] FernandoTangi commented on #106
I had put another card... If you have a new problem, please contact me.
I will send to your email, a print of the payments made on my credit card (every 10th).

[2020-08-11 07:42] Rauljauregi opened #107 "Firebase Object"
Hello to the whole community,

This is not really a problem, so if it is appropriate to move it to another location or delete it I will do so immediately.

Here's the thing. We are developing a web application that uses the Plugin to authenticate users. We don't use Firestore or Realtime data base. We want to extract the data from the user's session. To do this we try to access the Firebase Object

[2020-08-12 12:07] dalenguyen commented on #107
Hi @Rauljauregi, I added a guide on how to add custom JavaScript on top of the plugin. You can give it try.

https://firebase-wordpress-docs.readthedocs.io/en/latest/developer/add-custom-scripts.html

[2020-08-12 12:38] Rauljauregi commented on #107
Thank you very much Dake,

This is s really awesome! I will share the result if our implementation

[2020-08-13 00:27] abreu1234 opened #108 "Do not update logged user"
**Describe the bug**
I followed the tutorial on the demo site and created the contact form 7 form. It searches for the data of the user logged in as in the example, however when updating, it does not change in the firestore.
The same problem occurs on the demo page: https://wordpress.dalenguyen.me/firebase-account/

**Expected behavior**
Update the user document

**Screenshots**
The version of the

[2020-08-13 08:10] Rauljauregi commented on #107
Hello, community,

It turns out that yesterday the wordpress 5.5. update was released, which involves different changes. Among them some related to JQuery.

What is the right way to add a JQuery Script, and that is the best way according to the plugin and Wordpress 5.5 and later?

Thank you!

[2020-08-13 12:42] dalenguyen commented on #108
This is fixed in v1.12.0. I made an early release for you. Please go to https://firebase.dalenguyen.me and download it.

Thanks for the bug reporting.

[2020-08-13 12:42] #108 closed

[2020-08-14 03:00] dalenguyen commented on #105
Hi @alexx855, just to make sure. Are you using this shortcode for logging in?

[firebase_login button_text='Signin']

[2020-08-14 03:42] dalenguyen commented on #104
Should be fixed v1.12.0

[2020-08-14 03:42] #104 closed

[2020-08-14 21:24] Bikerflyeradmin commented on #104
Thank you, Dale.  I really appreciate you.

On Thu, Aug 13, 2020, 11:42 PM Dale Nguyen <notifications@github.com> wrote:

[2020-08-22 08:35] RineyTech opened #111 "Can't Purchase Pro Plugin"
I am not able to get your payment processor to work.  Do you accept PayPal for the pro plugin?

[2020-08-22 21:58] #111 closed, assigned to nobody

[2020-08-24 12:52] dalenguyen commented on #92
@cankorfali I have a question. Which user's fields you would like have in Firebase or Firestore?

[2020-08-26 18:38] cankorfali commented on #92
Sorry for my late reply,  If I'm wrong please correct me, when User sign up, it's creating on Authentication Tab and I think the Authentication Tab fields are pretty enough for starters. I assumed that after that the user data creation on Firebase or Firestore, I could add custom fields to related users like "My Favorites/Lists/Bookmarks" and could be possible to get users custom fields with relat

[2020-08-28 11:16] Tsukasa88 opened #112 "Can't connect and the webui not showing"
Hi,
I'm using the last version but the error shows and older version also.
context :
I connect to wordpress as user with the Firebase.
After 10 or 15 days as firebase detects as i'm still connected but wordpress does not.
So when i want to reconnect the firebase webui login/signup is not showing.
![screeshot netalem login normal private](https://user-images.githubusercontent.com/36668874/91555090-

[2020-08-28 11:27] dalenguyen commented on #112
Hi @Tsukasa88, when user login, you can add sign out button, so they can logout. If you are currently logged in, the form won't show up. You can clear the cache of your page, then it will clear the login session.

[2020-08-28 11:47] Tsukasa88 commented on #112
Thank you adding logout works!
But clearing cache does not.

[2020-08-28 11:58] dalenguyen commented on #112
Yah, I'm glad that it works :D

[2020-08-28 11:58] #112 closed

[2020-08-30 17:05] dalenguyen commented on #92
This is available in v1.14.0

https://firebase-wordpress-docs.readthedocs.io/en/latest/firebase/users-to-firebase.html

[2020-08-30 17:05] #92 closed

[2020-08-30 17:05] dalenguyen commented on #85
Should be resolved.

[2020-08-30 17:05] #85 closed

[2020-08-30 18:46] vgensw opened #113 "Sync Firestore Collection with Advanced Custom Fields"
**Is your feature request related to a problem? Please describe.**
New Feature

**Describe the solution you'd like**
It would be great to have an advanced Synchronisation between WordPress & Firestore to Display content via Page Builders like Elementor. Therefore it would be great to synchronize a Firestore Collection with advanced custom Fields to use these data to work with elementor to display

[2020-09-05 08:04] satya-securemachines opened #114 "Display data from Firebase Realtime Database"
Hi Dale,

We have been trying to evaluating your plug-in for use in one of our pages.

[realtime class=’your-class-name’ collection_name=’string’ document_name=’string’]

Since we are new to wordpress/firebase, request some info on "your-class-name" field in the shortcode you have mentioned to retrieve data from a realtime database in firestore?

Is this a local class in wordpress to style and for

[2020-09-05 15:04] dalenguyen commented on #114
Hi @satya-securemachines, `your-class-name` is the CSS class for styling purposes in the frontend site.

For more cases on showing realtime data on WordPress, you can take a look at the demo pages:

https://wordpress.dalenguyen.me/ (Check the Realtime Database section)

Thanks,

[2020-09-05 15:04] #114 closed

[2020-09-05 16:08] satya-securemachines commented on #114
Hi Dale,

Thanks for your response. Understood. i have created a css custom class using some examples. Am unable to display after this too.

Could you kindly suggest what could be wrong?
(Thanks for the link, read the documentation, but could not figure out!)

I share below my screen shot from the setting page where data is retrieved

![image](https://user-images.githubusercontent.com/70796305/923

[2020-09-05 17:06] dalenguyen commented on #114
Hi Satya,

Which version of the plugin you are using?

Is there any log messages when you inspect the browser?

Do you have a test link that I can a look at?

It could be because of the security rule for your database.

Note: class='p' will not apply to p tag. P is not a class name.

Thanks,

[2020-09-05 17:22] satya-securemachines commented on #114
Hi Dale,

Thanks for your quick response.

- Version : v0.7.0
- Error Code : None on page, even after adding [firebase_error class='your-class-name'][/firebase_error]
- No security rule, read/write allowed

![image](https://user-images.githubusercontent.com/70796305/92310276-49deec80-efca-11ea-9c64-78bf04d4cfcc.png)

For "p" class, sorry i am not familiar with css/wordpress etc. Could you suggest

[2020-09-05 17:39] dalenguyen commented on #114
Hi Satya,

You're using the Free version which doesn't have that feature. You can achieve it by adding custom JavaScript.

If you are interested in the PRO version, you can get it at https://firebase.dalenguyen.me

Thanks,

[2020-09-05 17:52] satya-securemachines commented on #114
Hi Dale,

Sure, we are considering buying the plug-in. However thought the read from realtime database was part of the evaluation version.

Thanks,
Satya

[2020-09-05 18:27] dalenguyen commented on #114
Yes, reading from realtime is a part of the free version. However, it's limited and the shortcode is different.

https://wordpress.org/plugins/integrate-firebase/#%0Ahow%20can%20i%20show%20realtime%20database%20for%20a%20logged%20in%20user%3F%0A

[2020-09-06 03:30] satya-securemachines commented on #114
Hi Dale,

We have the pro version of your plug-in.

How do we contact your for support?

Thanks,
Sayta

[2020-09-06 13:57] dalenguyen commented on #114
Thank Satya for your support. For questions or issues, you can create a new ticket here for further support. Please provide details information for better assistance.

[2020-09-06 17:06] satya-securemachines opened #115 "Dynamic inputs for shortcodes"
Hi Dale,

We have been using verion 1.14.0 of your plugin to read and display data from a firestore. It works fine.

We now need a way to dynamically pass a value to your short code. For example below is a shortcode we are using.

[firestore_blocks class='your-class-name' collection_name='TestSet_1' display_fields='Name']

We now need a way to parameterize the collection name being passed to this

[2020-09-06 19:46] dalenguyen commented on #115
Hi @satya-securemachines, for complex tasks, the best way is to write a custom script for it. First is to retrieve the TestSet_2, then when you get the value, start to get the other collection.

https://firebase-wordpress-docs.readthedocs.io/en/latest/developer/add-custom-scripts.html
https://firebase.google.com/docs/firestore/query-data/get-data

[2020-09-07 03:14] satya-securemachines commented on #115
Hi Dale,

Thanks for this info. Will try adding a new .js script.

So once we have a value in .js script, how to we pass this on to your shortcodes?

Thanks,
Satya

[2020-09-07 20:34] dalenguyen commented on #115
Hi @satya-securemachines, there is no option for passing value to the shortcode that way. However, you can achieve what you need after you got the value without relying on the shortcode.

[2020-09-16 06:50] TheWizardofWikacy commented on #113
Yes, this would make a lot of sense.  Then content could be added like posts are added, instead of just dead data being displayed, with links that go to the entire document just like posts.  I'm pretty sure this can be done using custom scripts, unfortunately when I follow the docs on adding the custom scripts, the server can never find the script.  So there is some error in the plugin.  Have you

[2020-09-17 07:42] thinkaholicapps opened #116 "Sync WordPress Media Library with Firebase Storage"
**Is your feature request related to a problem? Please describe.**
I am currently syncing my WordPress post data to Firebase Storage, because in that way, my website server doesn't get a lot of traffic and my app users get the information more quickly. The problem: media in the posts are still just urls referencing to the Media Library, so it still generate a lot of downloads from the server.

**D

[2020-09-17 08:58] SebastianKumor opened #117 "Firebase pluging breaks Nimble Page Builder plugin"
**Describe the bug**
Integrate Firebase breaks my page builder witch makes it unusable and images wont load on the production site.

**To Reproduce**
1. get Nimble Page Builder plugin
2. build a simple page with title and image
3. activate Integrate Firebase and try go edit the page with nimble again

**Expected behavior**
I should be able to edit my page and the production page should be not brok

[2020-09-17 11:11] TheWizardofWikacy opened #118 "Custom Scripts"
It would be nice to be able to set onclick events on certain fields in the shortcode, without needing custom scripts.

[2020-09-17 11:14] TheWizardofWikacy commented on #107
I have been able to get the custom script to register using the code in the documentation of this plugin, but had to fix the relative file path for the script (that part is wrong in the code).

[2020-09-17 11:15] TheWizardofWikacy commented on #91
Still no reply?

[2020-09-17 11:19] TheWizardofWikacy opened #119 "Click Events"
Please make it so we can add click events, and display urls as active links, add links in images, and create links to the entire document from one of the order-by feilds.

[2020-09-27 17:16] dalenguyen commented on #119
This is available in v1.15.0

https://firebase-wordpress-docs.readthedocs.io/en/latest/database/dynamically-display-from-firestore.html

[2020-09-27 17:16] #119 closed

[2020-09-27 17:16] dalenguyen commented on #117
Thank @SebastianKumor, I will take a look at this one.

[2020-09-27 17:18] dalenguyen commented on #91
This is available in v1.15.0

https://firebase-wordpress-docs.readthedocs.io/en/latest/database/dynamically-display-from-firestore.html

[2020-09-27 17:18] #91 closed

[2020-09-27 19:41] TheWizardofWikacy commented on #91
Can it be done for realtime as well?

On Sun, Sep 27, 2020, 1:18 PM Dale Nguyen <notifications@github.com> wrote:

[2020-09-27 19:41] TheWizardofWikacy commented on #91
This is awesome!  You are making great progress with this!

On Sun, Sep 27, 2020, 1:18 PM Dale Nguyen <notifications@github.com> wrote:

[2020-09-27 19:54] dalenguyen commented on #91
Sorry, not for realtime yet.

[2020-09-27 20:48] TheWizardofWikacy commented on #91
Ok.  Maybe soon.

On Sun, Sep 27, 2020 at 3:54 PM Dale Nguyen <notifications@github.com>
wrote:

[2020-09-28 12:44] SebastianKumor commented on #117
@dalenguyen np, let me know if you need more data

[2020-09-28 14:32] dalenguyen commented on #117
Yes, if you have any snapshots on the error or console log error, it would be great.

[2020-10-05 12:08] satya-securemachines opened #120 "Query"
Hi Dale,

Would it be possible to use the shortcodes from your plug-in in an "elementor" page?

I tried using the shortcode widget in elementor page but does not seem to work.

Could you clarify?

Thanks,
Satya

[2020-10-05 13:37] dalenguyen commented on #120
Hi @satya-securemachines,

Which version of the plugin are you using?
Which shortcode are you trying to put to Elementor?
Is there any error in the console log?

Any snapshots would be great.

Thanks,

[2020-10-05 14:26] satya-securemachines commented on #120
Hi Dale,

Below is a screen shot. When I publish, cant see anything on the page.

Elementor v3.0.11

1.14.0

Thanks & Regards,

Satya

From: Dale Nguyen <notifications@github.com>
Sent: 05 October 2020 19:08
To: dalenguyen/firebase-wordpress-plugin <firebase-wordpress-plugin@noreply.github.com>
Cc: satya-securemachines <satya@securemachines.in>; Mention <mention@noreply.github.com>
Subject: Re: [d

[2020-10-05 14:32] dalenguyen commented on #120
Hi @satya-securemachines, I couldn't see the screenshot. I think you need to do it directly in Github rather than reply the email.

[2020-10-05 14:58] satya-securemachines commented on #120
Attached
![1](https://user-images.githubusercontent.com/70796305/95095994-5c734f80-0749-11eb-8d38-35ab9e65bf6e.png)

[2020-10-05 16:01] dalenguyen commented on #120
Thank @satya-securemachines, I will check it and get back to you later.

[2020-10-05 16:35] dalenguyen commented on #120
I just tried with Elementor v3.011 & IFP v1.16.0 and it works.

https://wordpress.dalenguyen.me/elementor-301/

Something that you should notice is that you may need to save it and view the page in order to see the shortcode. Or you put that shortcode somewhere else which shows on other places. You can try with other shortcodes to check if it works.

Let me know how does it go. You can send a test

[2020-10-06 18:46] bcole2433 opened #121 "Delay in signup time"
**Describe the bug**
There is a long delay between when a user logs in through the FirebaseUI and when the user is redirected after signing (consistently 3 - 8 seconds). If a user refreshes or clicks to another page, the user is signed in through Firebase, but not through Wordpress. This means that the user is logged in on Firebase, but not on Wordpress which causes issues.

**To Reproduce**
Steps

[2020-10-06 22:17] dalenguyen commented on #121
Thank @bcole2433, It's because it needs to wait for firebase to log in successfully then log in to WordPress. Maybe a loading state can solve the click away behavior. I will take a look at the weekend

In order to let users know if they are logging in or not, you can use the greetings shortcode or a message only for logged in users.

[2020-10-11 18:38] dalenguyen commented on #121
The loading state is added in v1.17.0

[2020-10-11 18:38] #121 closed

[2020-10-13 00:53] TheWizardofWikacy opened #122 "Basic Authentication via API"
Are there new endpoints for basic authentication via the api, such as the endpoint for creating new user mentioned in your docs?  How could I allow my mobile app users to authenticate to wordpress in the app?

[2020-10-14 13:54] dalenguyen commented on #122
There is none at the moment for basic authentication via API. What is your use case?

[2020-10-14 15:19] TheWizardofWikacy commented on #122
I'm going to try to integrate the wordpress backend with my app as well,
login uses so they can add vendor products from the app, and was going to
log them in via the rest API but was wondering since the registration is
via a custom firebase endpoint perhaps the login is too.

On Wed, Oct 14, 2020, 9:55 AM Dale Nguyen <notifications@github.com> wrote:

[2020-10-14 16:58] TheWizardofWikacy commented on #122
Also, when I use the shortcode to display realtime doc from query, it is
awesome because I can just have the doc I'd of post in app joined the the
site url to allow users to share links to their stories.  However, when
inside facebook webview the realtime doc does not load.  Would it help to
put the code in the header?

On Wed, Oct 14, 2020, 11:19 AM Daniel Perley <admin@bikerflyer.com> wrote:

[2020-10-16 00:23] bcole2433 opened #123 "v1.18 breaks Beaver Builder "Posts" module"
**Describe the bug**
Using v1.16.0 works correctly. When updating to v1.18.0, the Beaver Builder "Posts" module does not display the posts. However, the posts are still clickable (see screenshot). Testing on a dev environment. The images in an Image Carousel are also not loading correctly. There are not other breaking changes other than these UI issues. When deactivating the plugin, the "Posts" mo

[2020-10-16 00:44] dalenguyen commented on #123
Thank @bcole2433, do you have a link for your dev environment?

What configuration did you use for the Beaver Builder?

[2020-10-16 01:07] dalenguyen commented on #123
@bcole2433 Just trying with the latest version of BB (v2.4.0.5). Everything seems working. It would be easier if you can send the plugin that you are using or provide access to the dev / test environment (dale@dalenguyen.me), so I can take a deeper look into the issue.

![image](https://user-images.githubusercontent.com/14116156/96201224-0b721100-0f2a-11eb-86fb-29bea5c60978.png)

[2020-10-16 01:09] dalenguyen commented on #122
It wouldn't help because the content wasn't there for preview. You can use an SEO plugin in order to generate a general preview for social media instead.

[2020-10-16 01:09] dalenguyen commented on #120
Hi @satya-securemachines, just want to check if everything is working on your end.

[2020-10-16 01:10] #115 closed

[2020-10-16 01:56] bcole2433 commented on #123
Dev Site: http://plleague.staging.wpengine.com/

Using Beaver Builder Version 2.4.0.6 and also Beaver Themer Version 1.3.2.3

Screenshot of the error when opening up the builder:
[image: image.png]

Just Keep Livin',
Brenden Coleman
c: (267) 337-2260 I Blog <http://medium.com/@bcole2433/> | w: www.nativx.com

<http://www.instagram.com/brendencoleman33>
<http://www.linkedin.com/ln/brendencoleman>

[2020-10-16 01:57] bcole2433 commented on #123
Dev Site: http://plleague.staging.wpengine.com/

Using Beaver Builder Version 2.4.0.6 and also Beaver Themer Version 1.3.2.3

Screenshot of the error when opening up the builder:
![Snip20201015_22](https://user-images.githubusercontent.com/19436925/96204077-3eaba480-0f18-11eb-8e51-becea1241b17.png)

[2020-10-16 02:01] dalenguyen commented on #123
Hi @bcole2433, if you send the credential for the test site to dale@dalenguyen.me, it would be great.
![image](https://user-images.githubusercontent.com/14116156/96204273-e7b2c900-0f31-11eb-9db0-05c6990d784b.png)

[2020-10-16 02:11] dalenguyen commented on #123
Or you can create another test site with only two plugins and check if it has the same error.

[2020-10-16 06:39] TheWizardofWikacy commented on #122
Apart from preview, how could I get the firebase data to load on the page
of my website?  Facebook merely keeps a user in their webview she. They
click on the link.  But for some reason the firebase data does not load in
Facebook's webview (not talking about preview)

On Thu, Oct 15, 2020, 9:09 PM Dale Nguyen <notifications@github.com> wrote:

[2020-10-17 15:37] dalenguyen commented on #81
Hi @altechzilla, I decided to go with the filter hooks when interacting with Firebase. Here is an example.

https://firebase-wordpress-docs.readthedocs.io/en/latest/hooks/filters.html

[2020-10-17 15:37] #81 closed

[2020-10-17 15:38] dalenguyen commented on #77
Closed due to inactivity.

[2020-10-17 15:38] #77 closed

[2020-10-17 15:44] dalenguyen commented on #88
Should be done via custom scripts.

https://firebase-wordpress-docs.readthedocs.io/en/latest/developer/add-custom-scripts.html

[2020-10-17 15:44] #88 closed

[2020-10-19 09:57] Eccles82 opened #124 "Woocommerce"
Will there be a intergratin of Woocommerce on this plugin? If so, could you please tell a bit about what features that will be available?
I would very much like to have order data sendt from Wordpress Woocommerce to Firebase Realtime Database.

[2020-10-19 13:55] dalenguyen commented on #123
Fixed in v1.19.0

[2020-10-19 13:55] #123 closed

[2020-10-20 00:08] dalenguyen commented on #124
Hi @Eccles82, there will be integration for Woocomerce. The features haven't been finalized yet. If you are interested in the Woocommerce extension. You can book a meeting in order to understand how you use the product.

https://calendly.com/dalenguyen/60min

[2020-10-27 17:11] chriswhystle opened #125 "Documentation error"
**Describe the bug**
Your sample documentation is very helpful thanks.  However, in your sample code one of the 'single quotes' ['] registers instead as an apostrophe, throwing an error.  It could be updated for clarity!

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://firebase-wordpress-docs.readthedocs.io/en/latest/developer/retrieve-data.html
2. The code is in the sample code

[2020-10-31 19:58] BetterAutomations opened #126 "Authenticating as Firebase user creates WP user but has no permissions on WP site"
**Describe the bug**
I have the following settings in auth. When I login as a Google user, it creates the WP user but that user has no permissions to use the site. I have even changed that user to Administrator, tried two different browsers, removed/reinstalled the plugin, and cleared the cache and cookies. Please assist.

WP Firebase auth settings:
https://i.imgur.com/fMeIQ06.png

WP Firebase gen

[2020-11-01 02:48] dalenguyen commented on #125
Thank @chriswhystle, the typo is fixed.

[2020-11-01 02:48] #125 closed

[2020-11-01 03:01] dalenguyen commented on #126
Hi @BetterAutomations, when a user logs in via Google, will they get the role as `Subscriber` or 'Customer'? Or do you have any other plugin that assigns different user roles?

If you have a test site, please send it to me via email, I can help to test it.

[2020-11-01 03:36] BetterAutomations commented on #126
By default they get role of Customer. WooCommerce would assign Customer or if a subscription is purchased, would assign the role Subscriber. But that didn't even create any Firesbase username. Going through WCommerce only creates a WP username with Customer or Subscriber.

I will email the details.

[2020-11-03 02:35] mcollinar opened #127 "Load users in Dashboard is not working..."
**Describe the bug**
Im trying to export a csv of my users, but I`m getting "Could not load user data!"

How can I fix?

[2020-11-03 15:29] dalenguyen commented on #127
Hi @mcollinar, is there any error in the console? And could you please provide a snapshot of the issue?

[2020-11-03 15:29] dalenguyen commented on #126
This is fixed in v1.20.0

[2020-11-03 15:29] #126 closed

[2020-11-03 16:49] mcollinar commented on #127
Hi man....This error...

Everything was working fine...
![Captura de Tela 2020-11-03 às 13 45 35](https://user-images.githubusercontent.com/35809337/98015318-6c7b5f00-1ddb-11eb-81a4-2fc8fdfcd9b8.png)
![Captura de Tela 2020-11-03 às 13 45 39](https://user-images.githubusercontent.com/35809337/98015346-70a77c80-1ddb-11eb-8a3b-bd735797bd4c.png)
![Captura de Tela 2020-11-03 às 13 46 52](https://use

[2020-11-03 21:35] dalenguyen commented on #127
Hi @mcollinar, looks like there's a misconfiguration in the Settings tab and cloud functions. Please check it again if cloud functions are in your Firebase project.

https://firebase-wordpress-docs.readthedocs.io/en/latest/intro/cloud-functions-deployment.html

[2020-11-03 22:04] mcollinar commented on #127
Thank you!... I fixed the Key API...

[2020-11-03 22:05] #127 closed

[2020-11-04 01:20] mcollinar opened #128 "The export users do not bring some informations"
Hi,

When I export the Users some information are missing in ".csv":

- Crested on
- Signed in

[2020-11-04 01:22] dalenguyen commented on #128
Hi @mcollinar, I will check it. One thing to note is to sensor privacy information before posting images.

[2020-11-04 02:34] mcollinar commented on #128
Ok....thanks to let me know...

[2020-11-04 02:37] mcollinar commented on #128
Can you exclude the attachment, please?

[2020-11-04 02:38] dalenguyen commented on #128
I can check it. It will be at the weekend though.

[2020-11-04 02:42] mcollinar commented on #128
In fact I asked to delete what I posted ... I didn't realize I had customer information ...

What I need is to include the user information created and last time online

[2020-11-05 03:16] herohitler opened #129 "[firestore] shortcode not working"
**Describe the bug**
The shortcode [firestore] do not work, the database is connected successfully, I have checked throuhgh Settings>Firebase>Databases. But when accessing a document from shortcode, it doesn't work. [realtime] works fine

**Expected behavior**
firestore document should be displayed.

**Screenshots**
The version of the plugin. E.g 0.7.0 (Free Version)

**Additional context**
The sh

[2020-11-07 22:46] dalenguyen commented on #129
Hi @herohitler, the firestore shortcode is not in the Free version. I will take a look at improving it later.

[2020-11-10 23:14] dalenguyen commented on #128
@mcollinar this is fixed in v1.21.0

[2020-11-10 23:14] #128 closed

[2020-11-11 03:43] dalenguyen commented on #69
Added in v1.21.0

https://firebase-wordpress-docs.readthedocs.io/en/latest/extentions/firebase-users.html

[2020-11-11 03:43] #69 closed

[2020-11-13 17:14] eatoutheroes opened #130 "We are looking to buy your plugin but have some questions around whether we are likely to be able to use it"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

A) We want our customers to be able to make a purchase using woocommerce and then submit the details of the order and quantity into firebase as a document within a collection. Is this possible? The Woocommerce feature just seems to relate

[2020-11-14 02:36] dalenguyen commented on #130
Hi @eatoutheroes,

The current plugin main support authentication for WooCommerce. In order to submit data to firestore, it can be done via filter hooks.

https://firebase-wordpress-docs.readthedocs.io/en/latest/hooks/filters.html

For self-billing invoices, the data can be extracted and displayed on the WordPress page. In order to generate the PDF, it will require customization - but it can be do

[2020-11-14 02:38] dalenguyen commented on #122
The data is from firebase, it won't available at the time for preview on social media. The suitable solution is to use an SEO tool to create a general title, description, and feature image for the dynamic post.

[2020-11-14 02:38] #122 closed

[2020-11-14 02:38] dalenguyen commented on #120
I should be fixed now.

[2020-11-14 02:38] #120 closed

[2020-11-14 03:30] TheWizardofWikacy commented on #122
I believe I have found a way to do it.  Thank you.

On Fri, Nov 13, 2020, 9:38 PM Dale Nguyen <notifications@github.com> wrote:

[2020-11-16 23:11] dalenguyen commented on #130
Hi @eatoutheroes, how is it going? If it's possible please share the invoice structure in your firebase, I can create a POC for that.

[2020-11-19 23:23] TheWizardofWikacy opened #131 "Possible Solution to Dynamic Social Meta Data"
I believe this presents a possible solution to the issue regarding dynamic social meta data, but I'm sure the implementation would be a little different since we are in wordpress.  Please look into whether we could create a script in wordpress to fetch metadata and images based on the firebase docId in query string appended to url based on the concept in this article.

https://medium.com/@jalalio/

[2020-11-20 01:50] dalenguyen commented on #44
Creating Firebase users from WordPress is not supported at this moment. However, existing users can be migrated to Firebase. After that, via the plugin or custom authentication, users will be created in both systems.

https://firebase-wordpress-docs.readthedocs.io/en/latest/extentions/firebase-users.html

[2020-11-20 01:50] #44 closed

[2020-11-26 20:47] TheWizardofWikacy opened #132 "Syncing users overwritesall other child keys in database."
I had to deactivate the user syncing feature, because everytime a user would login to the site, all the data they added in firebase would be over-witten with the data being synced from login.  Is there a way to just update the existing nodes?

For instance, a user sings up, and this is sent to firebse:

  wp-users:

        email
        displayName
        photoUrl
       etc...

If they then add

[2020-11-27 01:28] dalenguyen commented on #132
Hi @TheWizardofWikacy, please help provide the following information:

- version of the plugin you are using
- type of database that you are using (realtime / firestore)
- snapshot of before and after the changes

[2020-12-01 08:52] bbence84 opened #133 "Are categories for WP posts synced?"
I am thinking about buying the Pro version, but I need to have the category information synced. Is this already available in the Firebase collection? Thanks!

[2020-12-01 16:01] dalenguyen commented on #133
Hi @bbence84, I will add the support for the category this weekend. So stay tune.

[2020-12-01 22:02] bbence84 commented on #133
Thanks! I am still doing a POC for my flutter based mobile app and decided that I will pull the posts directly from WP using the rest APIs (via a library for wordpress on pub.dev). But once I am productizing the app, I will probably come back to your plugin, as it will be cleaner and faster to have everything in firebase.
Thanks!

[2020-12-05 18:33] saul-hdez opened #134 "Realtime updates for realtime database and firestore"
It would be greate if we could select between just getting the data once or set an active listener
for firestore in javascript it would be like the difference between .get() vs .onSnapshot()

[2020-12-05 21:15] dalenguyen commented on #132
Should be fixed.

[2020-12-05 21:15] #132 closed

[2020-12-05 21:16] dalenguyen commented on #133
Sure, let me know if you have any questions.

[2020-12-05 21:16] #133 closed

[2020-12-06 05:43] TheWizardofWikacy commented on #132
Thank you.

On Sat, Dec 5, 2020, 4:16 PM Dale Nguyen <notifications@github.com> wrote:

[2020-12-06 19:49] dalenguyen commented on #134
Hi @saul-hdez, what are your use cases for this?

For edge cases, it always can be achieved by using a custom script:

https://firebase-wordpress-docs.readthedocs.io/en/latest/developer/add-custom-scripts.html

[2020-12-06 19:51] dalenguyen commented on #130
The initial version of Woocommerce is added that can support order synchronization. The other tasks can be done via custom codes.

https://firebase-wordpress-docs.readthedocs.io/en/latest/extensions/woocommerce.html

[2020-12-06 19:51] #130 closed

[2020-12-06 19:52] #129 closed

[2020-12-06 19:52] dalenguyen commented on #124
The initial version of Woocommerce is released.

https://firebase-wordpress-docs.readthedocs.io/en/latest/extensions/woocommerce.html

[2020-12-06 19:52] #124 closed

[2020-12-06 19:53] dalenguyen commented on #90
At this moment, this can only be achieved with the custom script.

https://firebase-wordpress-docs.readthedocs.io/en/latest/developer/add-custom-scripts.html

[2020-12-06 19:53] #90 closed

[2020-12-08 01:15] saul-hdez commented on #134
i need to create a dashboard that feeds form different collections and updates in Realtime without needing to reload the page
i know it can be done with custom script + custom shortcode but figured its a simple modification that could be implemented for anybody

[2020-12-15 13:17] mcollinar opened #135 "bring just one information of this id."
**Describe the bug**
Hi Dale... Can you help me with something?  I want to bring just one information of this id......I want to bring just the "bairro" information... Im using this shortcode: [firestore class='x' collection_name='Users' document_name='getFirebaseUid' display_fields='endereco' display_type='blocks']

And its returning this: {"deleted_at":null,"endereco":"Rua Clemente Pereira","upda

[2020-12-15 15:14] dalenguyen commented on #135
Hi @mcollinar, can you try if this works?

[code]

It will get the value inside the object.

[2020-12-15 18:23] mcollinar commented on #135
Yeahh...It works...

I didnt found this information on https://wordpress.dalenguyen.me/ .....

Thanks

[2020-12-15 18:23] #135 closed

[2020-12-15 19:35] dalenguyen commented on #135
Yeah, it recently updated. An example can be found here: https://wordpress.dalenguyen.me/display-firestore-collection-as-blocks/

I hope that you are on the email list. I will send an update every week on the product.

[2020-12-15 22:18] mcollinar commented on #135
The last update has the sync data with woocommerce ?

Em ter., 15 de dez. de 2020 às 16:35, Dale Nguyen <notifications@github.com>
escreveu:

--
Marcelo Collina
mcollina@gmail.com
www.facebook.com/marcelo.collina

[2020-12-15 22:29] dalenguyen commented on #135
Yes, but this object change was sent out on Nov 14.

https://firebase-wordpress-docs.readthedocs.io/en/latest/misc/changelog.html#v1-5-0-2020-11-14

[2020-12-16 03:07] mcollinar opened #136 "Update the wordpress firebase functions with problems"
**Describe the bug**
Hi,

Im trying to update but i having this problem....
MacBook-Pro-de-Collina:functions mcollina$ firebase deploy --only functions --project novo-boca-a-boca

=== Deploying to 'novo-boca-a-boca'...

i  deploying functions
✔  functions: Finished running predeploy script.

Error: package.json in functions directory has an engines field which is unsupported. The only valid choice

[2020-12-16 03:20] mcollinar commented on #135
I dont know how to sync the products in firebase to woocommerce :/

[2020-12-16 04:09] dalenguyen commented on #135
Hi @mcollinar, you will need the `Firebase Integrate Woocommerce` extension in order to do that.

[2020-12-16 04:13] dalenguyen commented on #136
Hi @mcollinar, please make sure to update firebase-tools package to the latest version.

You can try with

`npm i -g firebase-tools`

Then try it again. If it doesn't work, you can post the content of the file package.json here.

[2020-12-21 02:35] TheWizardofWikacy opened #137 "Please create an extension which can dynamically replace the og and twitter image, title, and description tags with data from firebase url parameters"
Please create an extension which can dynamically replace the og and twitter image, title, and description tags with data from firebase url parameters, or the cabability to create new posts in wordpress when child added in firebase, so that we can create pretty social sharing links which would create cards with the data intended to be shared.  I know this would be a paid feature and will be happy t

[2021-01-01 22:05] hgalarreta opened #138 "Save number to Firestore"
Hello, it would be great you can add the feature to upload a "Number" to firestore. Currently, everything is saved as string.

Thank you very much for your support.

[2021-01-03 20:10] dalenguyen commented on #138
Hi @hgalarreta, it's updated. You can download v2.0.0 and give it a try.

Guide: https://firebase-wordpress-docs.readthedocs.io/en/latest/database/save-data-realtime-firestore.html

[code]

https://firebase.dalenguyen.me

[2021-01-03 20:10] #138 closed

[2021-01-04 14:58] hgalarreta commented on #138
Perfect. Thankssssss.

[2021-01-06 10:43] rubenalonsoes opened #139 "Error getting data from Firestore database using number data_fields in shortcode"
**Describe the bug**
Using for example this shortcode [firestore collection_name='ranking' document_name='from-queries' display_fields='user_real_name,ie_engagement'] when the display_fields are all strings is ok, but in this case that ie_engagement is a number the output is an error:
"e.includes is not a function"

**To Reproduce**
Steps to reproduce the behavior:
1. Use the shortcode [firestore

[2021-01-10 01:46] dalenguyen commented on #139
This is fixed in v2.1.0
https://wordpress.dalenguyen.me/dynamic-display-firestore-data-from-table/?docId=55fe5130-7a64-11ea-98e5-b9eb62c4e611

[2021-01-10 01:46] #139 closed

[2021-01-31 15:20] dalenguyen commented on #136
Should be fixed now.

[2021-01-31 15:20] #136 closed

[2021-01-31 15:33] #117 closed

[2021-02-01 23:04] alexnasla opened #149 "Extension/Support for Easy Digital Downloads (EDD) Platform"
**Is your feature request related to a problem? Please describe.**
There is WooCommerce support but I'm using easy digital downloads and there seem to be some issues integrating that with Firebase. It would be amazing if there was support for it.

**Describe the solution you'd like**
An extension that directly supports using EDD with Firebase and my wordpress site.

**Describe alternatives you've

[2021-02-05 21:13] TheWizardofWikacy opened #150 "Display Video from url in firebase using display field option"
Hello,

Videos are becoming a major feature in our app, and often times a post in firebase has a gif or an mp4 video as the main image.  It would be nice to be able to display the video if the collection contains key mp4, or whatever the key is, else an image.

I realize this may be a paid extension but it would be well worth it.

Thank you.

[2021-02-10 14:15] dalenguyen commented on #149
Hi @alexnasla, which issues are you having?

And how should it work together?

[2021-02-21 22:58] BetterAutomations commented on #126
Dale, I am seeing this again on versions 2.4.0 and 2.3.0. Please advise.

[2021-03-02 01:40] BetterAutomations opened #151 "failed to create function api-user"
**Describe the bug**
Unable to deploy functions, I get the error below. I had noticed the wrong project ID in .firebaserc and package.json but updating that to match my own did not help. I also tried creating the api-user function first in the console, no good.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Follow these directions:
https://firebase-wordpress-docs.readthedocs.io/en/l

[2021-03-02 02:04] dalenguyen commented on #151
Hi @BetterAutomations, can you take a snapshot of your firebase functions tab?

![image](https://user-images.githubusercontent.com/14116156/109585565-bd713a80-7ad1-11eb-89f7-793eb5291387.png)

[2021-03-02 10:23] BetterAutomations commented on #151
![image](https://user-images.githubusercontent.com/67400711/109634596-6db56200-7b17-11eb-8629-6aefa4f7e8e7.png)

[2021-03-02 14:04] dalenguyen commented on #151
Hi @BetterAutomations, that's the google cloud functions. Firebase cloud functions is little bit different. Can you check it in https://console.firebase.google.com/?

[2021-03-02 14:07] dalenguyen commented on #151
Hi @BetterAutomations, I saw that you have `api-user` in it. Is it the old one? Can you add dungnq@itbox4vn.com to your firebase dev environment, I can help to debug it.

[2021-03-04 11:07] BetterAutomations commented on #151
Yes as mentioned above, I created tried creating the api-user function first in the console. I have added your email. Kindly note any changes so that I can make the same changes in Prod.

[2021-03-04 14:33] dalenguyen commented on #151
Hi @BetterAutomations, can you go to https://console.firebase.google.com and add my email there. I can see your google cloud, but not in firebase.

![image](https://user-images.githubusercontent.com/14116156/109979192-9f235e80-7ccc-11eb-8595-bc770ad46854.png)

[2021-03-04 22:19] BetterAutomations commented on #151
Added
![image](https://user-images.githubusercontent.com/67400711/110038402-b59dda00-7d0d-11eb-84ba-2d89c7c83ddb.png)

[2021-03-04 23:27] dalenguyen commented on #151
Hi @BetterAutomations, I saw that you have regions in your config. There is a typo. I should be `us-central1` not `us-central`. And for one region, you don't need to set it at all. You can unset it.

[code]

![image](https://user-images.githubusercontent.com/14116156/110044153-a8d1b400-7d16-11eb-8f28-756d99d2ff73.png)

I edited the regions & redeploy them. It works.

![image](https://user-images.g

[2021-03-04 23:27] #151 closed

[2021-03-05 14:59] BetterAutomations commented on #151
Oh thank you. Where was this typo introduced? I don't recall typing that.

[2021-03-05 15:28] BetterAutomations commented on #151
I'm unable to repeat your success. Please advise.

[code]

[2021-03-05 15:44] dalenguyen commented on #151
Hi @BetterAutomations, please delete your existing function in Firebase and try to deploy it again.

[2021-03-06 16:23] BetterAutomations commented on #151
Thank you, that seemed to work.

[2021-03-15 23:49] 8HPhil opened #154 "Incomplete Plugin"
**Is your feature request related to a problem? Please describe.**
I can not check in my app which membership users have access to. Therefore, i can not create proper content brackets in my app.

**Describe the solution you'd like**
under the users, show which active memberships they have or under memberships, show the currently active users

[2021-03-16 03:57] dalenguyen commented on #154
Hi @8HPhil, which version of the plugin are you using?

Can you explain more on this one? `I can not check in my app which membership users have access to`?

If you have snapshot of how active membership show under users, it would be great.

[2021-03-16 13:51] 8HPhil commented on #154
Hi Dale,

I’d love to. I can even send you the plugins to help you do it.

Woocommerce has two extension… Memberships and Subscriptions…

WooCommerce allows you to hide data behind Memberships… When a user starts(purchases) a subscription, it comes with a membership.. The membership is what gives people access to more content..

Subscription is the paying process — Membership is what you pay for.

[2021-04-03 07:30] madhall opened #157 "Realtime Chat"
Looking to use this plugin to allow for chat between those logged in through Firebase. Is this possible? Allow people who are logged in on the website to chat with each other?

Focussed on: Firebase Realtime Messaging

[2021-04-03 22:29] dalenguyen commented on #157
Hi @madhall, it's not possible yet. Thanks for your suggestion. I will put this one on the road map.

[2021-04-20 19:38] willm132 opened #160 "Firebase Logout"
**Describe the bug**
When calling [firebase_logout], it asks the user to sign out, then redirects to the wp-login page. This is an issue because the people logging into the website will be customers accessing a database.

**Expected behavior**
When a customer calls [firebase_logout] it should just refresh the page and have nothing to do with Wordpress login

[2021-04-20 20:55] dalenguyen commented on #160
Hi @willm132, which version of the plugin are you using?

[2021-04-20 20:56] willm132 commented on #160
@dalenguyen I just purchased and installed the plugin today. So I am guessing the most recent.

[2021-04-20 20:57] willm132 commented on #160
@dalenguyen it is v2.8.0

[2021-04-20 21:00] dalenguyen commented on #160
Hi @willm132, you have an option to put a link in order to redirect after logging out. Can you try it and let me know if it works?

[code]

https://firebase-wordpress-docs.readthedocs.io/en/latest/auth/register-login-form.html?highlight=logout#logout-option

[2021-04-21 14:28] willm132 commented on #160
@dalenguyen Yes! That did work.

[2021-04-21 14:34] dalenguyen commented on #160
Awesome. I'm happy to help.

[2021-04-21 14:34] #160 closed

[2021-05-11 10:03] harshachaitanya commented on #74
+1

[2021-05-11 10:12] harshachaitanya commented on #74
This feature will help us a lot.
If possible can you change the structure of storing categories at firebase collection, why because unable to query posts based on category or tag at Firebase Cloud Firestore collection on the mobile.
if any query to search post based on category/tag at cloud Firestore do let us know.
Can you expedite this feature? we related need this.

![image](https://user-images

[2021-05-11 14:42] dalenguyen commented on #74
Thanks @harshachaitanya. I will check this one on the weekend.

[2021-05-15 13:30] dalenguyen commented on #74
Hi @harshachaitanya, the purpose is to query posts by categories right? Do you query by name or id?

[2021-05-15 18:07] harshachaitanya commented on #74
Id

[2021-05-15 20:03] dalenguyen commented on #74
@altechzilla sorry for the long wait, categories will be added in the next release (tomorrow).
@harshachaitanya not sure how to structure the categories with id in it. If you have a recommendation on how it should be in order to support query purposes, please create another ticket or discussion. I don't want to spam Altechzilla's inbox 😄

[2021-05-15 20:03] #74 closed

[2021-05-15 20:04] dalenguyen commented on #154
This is deployed.

[2021-05-15 20:04] #154 closed

[2021-05-18 04:03] harshachaitanya commented on #74
Thanks, @dalenguyen for releasing this feature.
I come across a minor bug in the flow, it's working for creating & update of category. But when we delete a category it's on delete at firestore side. Can you look into this?

[2021-05-18 04:04] harshachaitanya commented on #74
Will create another ticket or discussion regarding this.

[2021-05-18 04:08] harshachaitanya opened #161 "Post Comments & Likes sync at firebase."
**Is your feature request related to a problem? Please describe.**
Currently, we can see only post-related information only. It's better to storage comments, likes on the firebase side. Why because we are unable to show the comments or likes on the mobile app side.

**Which fields does it relate to?**
Firestore

[2021-05-25 13:24] harshachaitanya opened #162 "Unable to import users from Firebase firestore."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
From the Mobile app, few users signed up. The same user tries into the login web is not happening(vice versa)
From the Web app few users signed up, The same user tries to login into mobile, not happeing(vice versa).

When we try to sync users manually we got the below error.

[2021-05-25 14:20] dalenguyen commented on #162
Hi @harshachaitanya,

Is it the first time that you import users?
What is the current version of the PRO plugin?

Thanks,

[2021-05-25 16:20] harshachaitanya commented on #162
Hi @dalenguyen

Wordpress 5.7.2
Integrate Firebase PRO 2.11.0
Users 1.1.0
woocommerce : 2.0.0

Thanks,

[2021-05-25 16:30] harshachaitanya opened #163 "Delete categories at firebase firestore side"
**Describe the bug**
it's working for creating & update a category at WordPress. But when we delete a category at WordPress it's on delete at firestore side.

**Expected behavior**
The same category has to delete on firestore side as well.

[2021-05-25 17:04] dalenguyen commented on #162
Hi @harshachaitanya,

Is it the first time that you import users?

Thanks,

[2021-05-25 17:05] dalenguyen commented on #163
HI @harshachaitanya, it's fixed in v2.11.0.

It doesn't delete the category on firebase when you delete it on WordPress?

[2021-05-25 17:05] harshachaitanya commented on #162
Yes @dalenguyen you're correct.

[2021-05-25 17:12] dalenguyen commented on #162
If it's the first time you run it, please redeploy cloud functions.

https://firebase-wordpress-docs.readthedocs.io/en/latest/intro/cloud-functions-deployment.html

[2021-05-25 18:14] harshachaitanya commented on #162
Thanks, @dalenguyen after redeployed cloud functions now able to sync the user.

But how can a mobile user log in to the WordPress website?

[2021-05-25 18:55] dalenguyen commented on #162
I'm glad that it works.

Mobile users can sign in via the login shortcode.

https://firebase-wordpress-docs.readthedocs.io/en/latest/auth/work-with-firebaseui-web.html

[2021-05-25 18:55] #162 closed

[2021-05-28 10:10] harshachaitanya commented on #163
@dalenguyen  yes.

[2021-05-28 10:22] harshachaitanya opened #164 "Create a new WordPress User through API not working"
**Describe the bug**
Request Url:  http://example.com/firebase/v2/users/register
Request Method: POST
Request Payload: {
    username: 'dale',
    email: 'dale@dalenguyen.me',
    password: 'the-password'
}
Response: <script>document.cookie = "humans_21909=1"; document.location.reload(true)</script>

**Expected behavior**
It has to create a user on the WordPress side. But isn’t creating
![image](h

[2021-05-28 10:51] harshachaitanya commented on #163
Working in the latest version: 2.11.0.
Thanks @dalenguyen

[2021-05-28 10:51] #163 closed

[2021-05-31 11:43] harshachaitanya commented on #164
@dalenguyen
can you suggest another one make an entry on the WordPress site?
Currently, we are unable to move forward irrespective of whether a user registered from Web/Mobile. Users should able to log in and access user information like posts/comments/addresses/orders/user information on both Web/Mobile.

[2021-05-31 13:43] dalenguyen commented on #164
@harshachaitanya

If the WordPress website uses the plugin login shortcode, users from firebase can log in to WordPress as WordPress users.

https://firebase-wordpress-docs.readthedocs.io/en/latest/auth/wordpress-user-integration.html

[2021-06-04 08:03] harshachaitanya commented on #164
How to create a **WordPress user session** for firebase/mobile users on the website. That user doesn’t have any record at DB side.

[2021-06-04 08:03] harshachaitanya commented on #164
@dalenguyen
How to create a **WordPress user session** for firebase/mobile users on the website. That user doesn’t have any record on DB side.

[2021-06-06 07:59] harshachaitanya opened #165 "Register & login in both web & mobile."
@dalenguyen

On the website, we are using the custom form for user registration & login as below
![image](https://user-images.githubusercontent.com/35361849/120916668-83af6180-c6c8-11eb-82e1-d9b0faa3bcfa.png)
![image](https://user-images.githubusercontent.com/35361849/120916677-8ca03300-c6c8-11eb-8bda-f3cadc2c3713.png)

we are not using
![image](https://user-images.githubusercontent.com/35361849/1

[2021-06-06 12:14] dalenguyen commented on #165
Have you tried this to create a login & sign-up page?

https://firebase-wordpress-docs.readthedocs.io/en/latest/auth/register-login-form.html

[2021-06-08 02:15] Hassankhd opened #166 "Error in console: Firebase is undefined"
Hello Dale!

I have a couple of things I would like to ask you about. It's important to mention first that I did not use shortcode in any form, instead I used Elementor and made use of the <script> tag and everything worked in my signup and login pages, from Firebase Authentication to Real-time Database.

However, as soon as I redirect the user to the main page after the user logs in, I get an err

[2021-06-08 03:11] dalenguyen commented on #166
Hi @Hassankhd, in order to use a custom script. The script should wait until firebase is loaded.

I have a template that you can use for adding custom scripts. You can give it a try here.

https://github.com/dalenguyen/integrate-firebase-template

After downloading the template plugin, you can put your custom script in this file:

https://github.com/dalenguyen/integrate-firebase-template/blob/mast

[2021-06-08 17:22] harshachaitanya commented on #165
Yes tried but it's not creating user at WordPress database.

[2021-06-08 18:07] dalenguyen commented on #165
@harshachaitanya can you send me the login page with those implementations?

[2021-06-16 13:21] harshachaitanya commented on #165
@dalenguyen sorry for the delay.

<form id="firebase-register-form" data-redirect="/" data-send-email-confirmation="true"><div><label for="firstName">First Name</label><input type="text" name="firstName" required=""></div><div><label for="lastName">Last Name</label><input type="text" name="lastName" required=""></div><div><label for="email">E-mail</label><input type="email" name="email" required="

[2021-06-16 20:13] mmw562 opened #167 "Post sync doesnt bring any meta data"
Hello Dale!

I was super excited about the feature to bring in the post data - its EXACTLY what I needed.  The post did sync, but unfortunately, NONE of the post meta came with it - which was everything I needed.  Is this something I'm doing wrong?

[2021-06-16 20:43] #166 closed

[2021-06-16 20:44] dalenguyen commented on #165
@harshachaitanya do you have a link for it?

[2021-06-16 21:01] dalenguyen commented on #167
Hi @mmw562, getting post meta is possible. How your post meta is configured or created? You can attach a snapshot if you have any.

For general purposes, the post is synced with all data.

One way to save post meta / or exclude certain fields is to use the plugin's filter hook.

https://firebase-wordpress-docs.readthedocs.io/en/latest/hooks/filters.html

Together with `save_post` hook from WordPre

[2021-06-16 21:14] mmw562 commented on #167
The post is created using a form.  The form software is called formidable.
I have attached an image of how it is entered.  The form itself creates a
post and saves the meta data as I dictate in the form settings.

[image: image.png]

On Wed, Jun 16, 2021 at 4:01 PM Dale Nguyen ***@***.***>
wrote:

[2021-06-16 21:21] mmw562 commented on #167
The post is created using a form.  The form software is called formidable.  I have attached an image of how it is entered.  The form itself creates a post and saves the meta data as I dictate in the form settings.

<img width="1096" alt="Screen Shot 2021-06-16 at 4 19 08 PM" src="https://user-images.githubusercontent.com/25140610/122295325-ac044080-cebe-11eb-8f0c-ad1ec3a98bdd.png">

[2021-06-17 00:20] dalenguyen commented on #167
For custom metadata fields, you may need to do the following as I mentioned above. Do you have a developer that can help with it?

[2021-06-17 03:04] harshachaitanya commented on #165
@dalenguyen
Sorry link means.
if possible can you share the sample code with us.

[2021-06-17 13:40] mmw562 commented on #167
I may be able to handle this.  Do you, by chance, have an example or docs for this filter?  Specifically, the $doc_id is confusing to me.  What is that referring to?  Is it the post id?

[2021-06-17 15:07] dalenguyen commented on #167
It's a term in firestore for document id.

[code]

Example if you have $collection_name = 'users', and the $doc_id = '1', then your data will be saved to realtime / firestore under the path /users/1.

Hope this helps.

[2021-06-17 17:35] dalenguyen commented on #165
Yes, this is an the demo page for register & login

https://wordpress.dalenguyen.me/register-login-form/

If you have implemented it on your site, you can share a link, so I can help to take a look at it.

[2021-06-17 21:57] mmw562 commented on #167
Tremendous help!  Thank you Dale.  I was able to get it working after a fair bit of testing.

Is there, by chance, a hook to update the information in the database?

[2021-06-17 22:24] dalenguyen commented on #167
I'm happy to hear that! You can use the same hook to update data in firebase. It's the upsert function.

[2021-06-18 05:45] Hassankhd opened #168 "Integrate Firebase Template issue with pre-existing wordpress plugins"
Hello Dale!

I remember you suggested that I use the Integrate Firebase Template plugin for my javascript files. I used the plugin to put most of my JavaScript files and tried to load my sign up page but it gave me a weird error in the console about some pre-existing plugins.
<img width="462" alt="Screen Shot 2021-06-18 at 8 37 26 AM" src="https://user-images.githubusercontent.com/72046614/1225117

[2021-06-18 13:33] dalenguyen commented on #168
Hi Hassan, it's likely that you missing a `")"` in your script. The other errors belong to Jetpack.

[2021-06-20 18:01] Hassankhd commented on #168
Hi Dale,

I just fixed the issue as well as most of my errors, but I'm getting this error from the onauthstatechanged function:
<img width="444" alt="Screen Shot 2021-06-20 at 8 49 44 PM" src="https://user-images.githubusercontent.com/72046614/122683772-16dcb100-d20a-11eb-8621-734bc992d850.png">
<img width="462" alt="Screen Shot 2021-06-20 at 8 50 15 PM" src="https://user-images.githubusercontent.

[2021-06-20 18:12] dalenguyen commented on #168
Can you add this one after the condition?

[code]

[2021-06-20 18:59] Hassankhd commented on #168
Here's what I got:
<img width="613" alt="Screen Shot 2021-06-20 at 9 57 35 PM" src="https://user-images.githubusercontent.com/72046614/122685181-8e164300-d212-11eb-9ce9-20dbe87a08ae.png">
I can see the user's uid here okay. Should I just write user.uid instead of user.user.uid? I used the latter because I saw something of the sort online as I was learning firebase functions.

[2021-06-22 01:24] Hassankhd commented on #168
Hi Dale!

user.uid worked perfectly as you suggested, and I know it did because the sign out sequence worked perfectly for me. However, now I'm having a problem with fetching firebase data. The data is never assigned, and the variables in question (and ultimately the labels) are assigned as undefined. I'm not so sure what's wrong here, so I really need help with this:

<img width="721" alt="Screen

[2021-06-22 22:24] #168 closed

[2021-06-22 22:56] dalenguyen commented on #168
@Hassankhd, sorry I was busy today. I guess you found the solution for it?

[2021-06-29 12:18] Growlyagency opened #169 "Not sync new users when create new user"
Hi! When we create new user on WordPress, its not syncing it automatic to FireBase. I think that was the point of the plugin. How we get automatic sync to Firebase when make new user on WordPress?

[2021-06-29 14:27] dalenguyen commented on #169
Hi @Growlyagency, can you share the current configuration on your dashboard?

Please make sure that you follow the instruction: https://firebase-wordpress-docs.readthedocs.io/en/latest/firebase/users-to-firebase.html

[2021-06-29 14:27] #165 closed

[2021-06-30 07:12] Growlyagency commented on #169
Yes we have followed the instruction. Problem is this: We sell online courses on our WooCommerce store, when customer buy course, account is created automatically after checkout. After customer have purchased course he lands on thanks page. Now when Firebase plugin is active customer redirect automatically from thanks page to homepage and he cant see instructions on landing page. Then he try to lo

[2021-06-30 07:21] Growlyagency opened #170 "Automatically redirect from Order Recieved page to Home page after couple of seconds-"
When customer buy product from our WooCommerce store it redirects customer normally to order recieved page and it works.

Problem is this: Now when customer are in order recieved page it somehow automatically redirect it to homepage and that is the bug. Is there some function to disable that? In order recieved page there is instructions from product what customer needs to read.

So we want to disa

[2021-06-30 15:44] dalenguyen commented on #169
What about letting the user creates an account before purchasing? WooCommerce has that setting. You don't have to worry about the redirecting to home page after purchasing. And the user will be created once.

[2021-07-01 11:28] Growlyagency commented on #169
Hi! I tried that but when i choose Let users create account on checkout it wont show register or login forms. I dont know is that from Learndash because when we sell Learndash courses, it forces to create account in checkout..

[2021-07-01 11:32] Growlyagency commented on #169
I think bigger problem is that redirect after purchase, is it possible to disable?

[2021-07-01 11:41] Growlyagency opened #171 "Integrate Firebase - Users bug error"
Integrate Firebase Users says error when we try to import WordPress users to firebase.
Import not working.

Error: https://ibb.co/x1QJ0dw

[2021-07-01 11:48] #171 closed

[2021-07-14 21:26] mmw562 opened #172 "Security Issues"
Hello Dale!

It appears that the API key, storage bucket, frontend token etc all appear in the url source in the CDATA.  This looks like a big security risk?

[2021-07-15 15:37] dalenguyen commented on #172
Hi @mmw562, that information is supposed to be exposed on the front end.

Please check this one out.

https://stackoverflow.com/questions/37482366/is-it-safe-to-expose-firebase-apikey-to-the-public

[2021-07-15 15:37] #172 closed

[2021-07-15 22:27] Hassankhd opened #173 "Login/sign up on other devices not working"
Hi Dale!

I just launched my wordpress site, and everything related to firebase was working just fine whenever I previewed the homepage and tested the whole website. However, I just opened the site on my iPhone and as soon as I come to log in with an existing user, no log in happens. When I create a new user, the user is created but nothing else happens (i.e. their extra info isn't saved in the da

[2021-07-16 12:56] mmw562 commented on #172
That answers it!  Thanks so much!

On Thu, Jul 15, 2021 at 10:37 AM Dale Nguyen ***@***.***>
wrote:

[2021-07-17 22:31] Hassankhd commented on #173
Update: I also just tried signing up as a new user on my iPad, and this is what I got:

"A network error (such as timeout, interrupted connection or unreachable host) has occurred."

[2021-07-18 17:28] dalenguyen commented on #173
Hi @Hassankhd, firebase should allow any users to sign In / sign up properly as long as it's not the same session / browser. The iPad could be a network-related issue. What site are you testing?

[2021-07-18 17:29] dalenguyen commented on #170
Hi @Growlyagency, not sure if it's resolved. I think it relates to WooCommerce configuration.

[2021-07-18 17:29] Growlyagency commented on #170
Hei,

Toimistomme on lomalla 05.07 - 26.07.
Olemme takaisin hommissa alkaen maanantaina 26.07.

Sähköpostiviestisi on tullut perille ja vastaamme siihen palatessamme takaisin hommiin! 🚀

Ystävällisin terveisin,
Santeri Turunen
Toimitusjohtaja
Kasvutoimisto Growly
www.growly.pro

[2021-07-21 23:37] Hassankhd commented on #173
Hey Dale, I'm really sorry for the late reply I had some exams to do this week. The site in question is jobseeqr.co

[2021-07-22 00:32] Hassankhd commented on #173
Update: I just fixed the issue! Turns out Safari does not recognize a button in HTML unless you type it in as <button **type="button"**></button>. I just fixed the issue and thankfully my site is officially up and running! I really appreciate all the help you have given me with previous issues and thank you for making such an amazing plug-in! I will definitely come back should future issues arise

[2021-07-22 15:02] dalenguyen commented on #173
Awesome. I'm glad to hear that!

[2021-07-22 15:02] #173 closed

[2021-07-26 09:09] Growlyagency commented on #170
Hey! Its not yet resolved. You have any ideas how we can fix it?

[2021-07-26 09:11] Growlyagency opened #174 "Firebase Login form not showing"
Hey, we try to show Firebase UI login form but it wont show it.

I checked css and it says display: none;

#firebase-signout, #firebaseui-auth-container {
    display: none;
}

How we can fix it? I have enabled Allow Login to WP Dashboard -setting.

[2021-07-26 09:13] #174 closed

[2021-07-26 10:54] Growlyagency commented on #170
I think the problem is this:

Normal WooCommerce: When new user makes order it makes account and it logs him automatically in after checkout and he have access to order-recieved page.

With Firebase: When new user makes order it makes account but it wont let him log in automatically because Firebase and then he dont have access to order-recieved page.

[2021-07-27 02:05] dalenguyen commented on #170
When applying firebase authentication, the default Woocommerce shouldn't allow users to register via the normal flow. Users should register via the PRO plugin before checking out.

[2021-07-27 02:05] dalenguyen commented on #174
I saw that you closed this. Is it still an issue?

[2021-07-27 06:12] Growlyagency commented on #170
Yes they register via the PRO plugin when they log first time in. But how we get that flow like normal WooCommerce? After new customer makes order, he logs automatically in on hes new account?

[2021-07-27 06:20] Growlyagency commented on #174
I forget to check "Email" checkbox on settings.. Now its working.

[2021-07-27 06:22] Growlyagency commented on #169
Hey. Our sites flow is this, is it right?

Now: User makes order -> Woo makes user -> He logs in first time -> He sync to firebase
I think sync must work like this: User makes order -> Woo makes user -> Synced automatically to firebase without logging in.

How we can achieve that?

[2021-07-28 03:12] dalenguyen commented on #170
Users should registers before checking out in order to have them on Firebase & Wordpress.

Users register on firebase mobile app will not automatically sync to WordPress. It will be synced the moment users log in to Wordpress.

[2021-07-28 03:16] dalenguyen commented on #169
If Woo makes an account, it will not be synced to Firebase. In the Woocommerce, settings, we shouldn't let users create an account. They have to log in via the plugin in order to continue the purchase flow.

You can take a look at the sample guide

https://firebase-wordpress-docs.readthedocs.io/en/latest/extensions/woocommerce.html

[2021-08-26 08:40] VincentCtr opened #175 "User connection state synchronisation"
**Describe the bug**
We are not able to sync connection state between our web application and our wordpress.

Our web application (fully written in react + firebase) is located at this address : domain.com/app/
Our wordpress is located here : domain.com/

We are able to login our users using firebase-wordpress-plugin our our wordpress but the connection state is not forwarded when the user goes on

[2021-08-26 09:50] #175 closed, assigned to nobody

[2021-09-01 06:34] skwasha commented on #134
The docs say "Dynamically Display Firestore Data on WordPress". Am I to understand then that the above is still the case and that on page load it's doing .get() and not .onSnapshot()? If so, has anyone validated that the real-time updates via a custom script work as expected? I have a similar use case to the above, where I need a dashboard updated without a page reload.

[2021-09-07 07:46] Growlyagency opened #176 "User problems after uninstall Firebase Plugin"
Hi! We have punch of problems after we uninstalled Firebase plugin. Now people cant reset password and if they can, the WordPress not remember new password so it says every time wrong password error.

Where is the problem?

[2021-09-07 07:58] kiddoapplic opened #177 "TypeError: Cannot read properties of undefined (reading 'EmailAuthProvider')"
Hi I am trying to integrate woocommerce and working on custom signup form as per given instructions on official docs, but when I open the signup page I am getting below error in console log.  As per video email field doesn't verify and after signup no user is created.  Please provide your valuable feedback, your quick response would be appreciated. Thank you.

![image](https://user-images.githubus

[2021-09-07 13:41] dalenguyen commented on #177
Moved to email communication.

P/s: looks like it's cache / minify related issue.

[2021-09-07 13:41] #177 closed

[2021-09-07 13:45] dalenguyen commented on #176
Hi @Growlyagency, if the plugin is uninstalled, the issue now is related to WordPress itself. Integrate Firebase plugin doesn't control the authentication process anymore. I'm not sure what happens in this case.

[2021-09-07 13:45] #176 closed

[2021-10-08 20:43] manoj-kumar-MS opened #178 "Unable to view two different tables from the same realtime database at a time"
Hi there,
I am using the free version of the Integrate Firebase. When I try to view two tables using two different shortcodes, I am only able to view one of the table. Only the first shortcode is working. Is this a bug or limitation in free version?

Also will I be able to update values to firebase from my website using free version?

[2021-10-09 15:18] dalenguyen commented on #178
Hi @manoj-kumar-MS, it's a limitation of the free version.

You can update value from your website by using a custom script.

https://firebase-wordpress-docs.readthedocs.io/en/latest/developer/add-custom-scripts.html

[2021-10-10 01:20] dalenguyen commented on #134
@skwasha using custom script should works as expected since you have control over the method that using for getting the data.

[2021-10-13 09:19] arthurahy opened #179 "what is "your-class-name" ??"
hey man.. newbie here
what is "your-class-name" ?
what information do i need to put in there?
i'm sorry for my silly question..

[2021-10-13 13:39] dalenguyen commented on #179
Hi @arthurahy,

it's the name for CSS styling, so you can add custom CSS in order to style the element :)

[2021-10-13 13:39] #179 closed, assigned to nobody

[2021-10-15 21:49] CiriousJoker opened #180 "Firebase Accounts aren't automatically synced to Wordpress"
**Is your feature request related to a problem? Please describe.**
We have a mobile app (Flutter) and a website (Wordpress).

- User creates a Firebase email+password account in the App
- User tries to log into the website
- Login succeeds (ie it doesn't complain)
- User is still logged out and can't make Woocommerce purchases

**Describe the solution you'd like**
- Creating a new Firebase user sh

[2021-10-15 23:52] dalenguyen commented on #180
Hi @CiriousJoker, which version of the plugin are you using?

And do you have a link for the website that I can have a look at?

[2021-10-16 13:41] dalenguyen commented on #180
Moved to email support.

[2021-10-16 13:41] #180 closed

[2021-11-02 12:01] Crazyskink opened #183 "About Create a custom shortcode"
**Describe the bug**
code from https://firebase-wordpress-docs.readthedocs.io/en/latest/developer/retrieve-data.html and is work but I just want to know how can I retrived from realtime database.

I had change const db = firebase.firestore(); to const db = firebase.realtime(); and it's not work.

If my data base had struction like this collectionName/documentName/ID/password

Did I just use db.col

[2021-11-02 14:08] dalenguyen commented on #183
Hi @Crazyskink, the syntax for realtime is different from firestore. You can check the example for realtime database here.

https://firebase.google.com/docs/database/web/read-and-write#read_data_once_with_get

[code]

[2021-11-02 14:08] #183 closed

[2021-11-12 15:14] CiriousJoker opened #184 "Sync existing memberships"
**Is your feature request related to a problem? Please describe.**
We have lots of existing memberships. In a future app update, the mechanism to validate those wooCommerce subscription will change to use the new wp_memberships collection in Firestore.

Currently, only memberships that are updated in Woocommerce (ie new memberships & renewed/cancelled ones) will get synced to Firestore.

**Describ

[2021-11-12 16:16] CiriousJoker opened #185 "Empty userId on synced Woocommerce memberships"
**Describe the bug**
- We've imported existing users from Wordpress into Firebase
- When editing an existing user's membership, the `userId` field in the synced Firestore woocommerce membership document is generally empty for the imported accounts.
- In one of the 9 currently synced memberships (rest is missing as per #184 ), the uid is correctly detected as `firstname.lastname`
- Users with a "re

[2021-11-12 16:17] CiriousJoker commented on #184
A few things I've noticed:
- Exporting & importing a membership won't trigger the Firestore sync (changing the exported csv won't change this)
- Manually saving a single membership via the save button will trigger the Firestore sync (this doesn't fix #185 )

[2021-11-12 16:20] dalenguyen commented on #184
Hi @CiriousJoker, do you have a bulk `Edit` option in the membership? If you bulk edit, it will trigger the update for all.

![image](https://user-images.githubusercontent.com/14116156/141499324-c8ba88c6-1ebb-4fc7-a42d-a155940db720.png)

[2021-11-12 16:26] CiriousJoker commented on #184
This works, thank's. I've only tried with two memberships so far and I can imagine that this still takes quite a lot of time for 60+ pages, but that's something that can be fixed with a lot of work or an autoclicker script. #185 is the bigger issue here, since we can't fix this ourselves.

[2021-11-12 16:27] dalenguyen commented on #184
Cool. I will close this one and will check #185 this weekend 👍

[2021-11-12 16:27] #184 closed

[2021-11-12 16:44] CiriousJoker commented on #185
A couple of things I noticed:
- Editing a non-working user will not trigger a sync to `wp_users/{userId}`, probably because `userId` is unknown/empty. It also doesn't create a new document with a random document id like it usually does when the id is undefined
- Reimporting all users does not change anything

**Also, for context about the collection names:**
![image](https://user-images.githubuser

[2021-11-13 17:46] CiriousJoker commented on #185
@dalenguyen
### Reproduction steps:

1. Create Wordpress account manually
2. Update the user to trigger a sync to `wp_users` (fails, because no `userId`)
3. Import the user into Firebase auth through your import plugin
4. Update the user to trigger a sync to `wp_users` (fails, because no `userId`) <-- This shouldn't happen, after the import the userId field for that wordpress account should be set

[2021-11-13 20:51] CiriousJoker commented on #185
@dalenguyen
I managed to fix it:

Add this snippet into `<plugin>/includes/service/class.firebase-service.php`:

[code]

I obviously cannot commit this anywhere, but feel free to include it in the next plugin version.

[2021-11-14 22:14] dalenguyen commented on #185
Thanks, @CiriousJoker. It probably what happens. I will add it to the next release 🙌

[2021-11-20 21:02] dalenguyen commented on #185
Updated to the plugin 🙏

[2021-11-20 21:02] #185 closed

[2021-11-20 21:03] dalenguyen commented on #178
Closed due to inactivity.

[2021-11-20 21:03] #178 closed

[2021-11-20 21:05] #170 closed

[2021-11-20 21:06] #169 closed

[2021-11-20 21:06] dalenguyen commented on #150
Closed due to the customer resolving it.

[2021-11-20 21:06] #150 closed

[2021-11-20 21:08] dalenguyen commented on #57
This is added in v2.15.1

https://firebase-wordpress-docs.readthedocs.io/en/latest/auth/custom-registration-form.html

[2021-11-20 21:08] #57 closed

[2021-11-20 21:08] dalenguyen commented on #61
Close due to inactivity.

[2021-11-20 21:08] #61 closed

[2021-11-20 21:10] dalenguyen commented on #75
This can be done by bulk edit / delete posts.

![image](https://user-images.githubusercontent.com/14116156/142740979-2d28f011-0def-4768-b6dc-70decd856ec5.png)

[2021-11-20 21:10] #75 closed

[2021-11-20 21:10] #99 closed

[2021-11-20 21:11] dalenguyen commented on #113
This one can be done via filter hooks to add custom data before saving.

https://firebase-wordpress-docs.readthedocs.io/en/latest/hooks/pro-filters.html#before-saving-post-data-to-firebase

[2021-11-20 21:11] #113 closed

[2021-11-20 21:12] dalenguyen commented on #118
It likely would be impossible without a custom script.

[2021-11-20 21:12] #118 closed

[2021-11-20 21:13] #107 closed

[2021-11-20 21:14] dalenguyen commented on #100
Not sure if this one is still needed. Feel free to create another issue.

[2021-11-20 21:14] #100 closed

[2021-11-20 21:14] #134 closed

[2021-11-20 21:15] dalenguyen commented on #161
It can be done by adding filter hooks before saving data.

https://firebase-wordpress-docs.readthedocs.io/en/latest/hooks/pro-filters.html#before-saving-post-data-to-firebase

[2021-11-20 21:15] #161 closed

[2021-11-20 21:16] dalenguyen commented on #149
Closed due to inactivity.

[2021-11-20 21:16] #149 closed

[2021-11-20 21:17] dalenguyen commented on #68
This is a tricky one. However, it can be done with a custom script.

https://firebase-wordpress-docs.readthedocs.io/en/latest/developer/add-custom-scripts.html

[2021-11-20 21:17] #68 closed

[2021-12-29 07:14] Gaurav1799 opened #186 "I'm unable to login, after setting up the firebase database, the user email gets store in the firebase db , but signup is not successful. Guide me on this."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
The version of the plugin. E.g PRO v0.5.5

**Screenshots**
If applicable, add screenshots to help ex

[2021-12-29 13:57] dalenguyen commented on #186
Hi @Gaurav1799, can you provide more information?

Version number?
Sample login link?
Snapshots?

[2022-01-07 14:21] Fitenxd opened #187 "firebase"
Hi, I would like to know if I can send the data of people who register on my site to my firebase database through this plugin.

[2022-01-07 14:35] dalenguyen commented on #187
Hi @Fitenxd, this feature is not available yet. It does support FCM, however, you have to add a script by yourself in order to make it work.

If you want to follow the plugin updates, please subscribe to the newsletter here: https://firebase-wordpress-docs.readthedocs.io/en/latest/index.html#

[2022-02-05 06:42] ciriousjoker opened #191 "Sync email from Firebase to Wordpress"
**Is your feature request related to a problem? Please describe.**
Changing the user's email in Firebase or Wordpress does not update it on the other service.

**Describe the solution you'd like**
Changing the email in Wordpress should automatically update the email in Firebase.
From Firebase->Wordpress it's not so easy, because Firebase doesn't provider a trigger on user-update.
I've created a Fi

[2022-02-16 10:52] ml1970 opened #192 "Syncing custom_fields"
Syncing posts from WP to Firebase/FirestoreDB with new or updated "custom_fields"... works good (in Firebase-map-format), but if I delete a custom_field in WP the custom_field in firebase will not deleted... Is this a bug or still not implemented?

And second: the comment_count is synced. Is there a way, to sync Comments in WP to Firebase?

[2022-02-18 16:30] dalenguyen commented on #192
Hi @ml1970, how does the custom field look on your firestore? Can you send a snapshot?

How do you delete a custom field in WordPress?

[2022-02-21 08:11] ml1970 commented on #192
Hi, I'm using your plugin as an bridge between Wordpress and Firestore to use the synced Firestore-documents in an iOS-App. The custom fields storing status informations about the WP-post for usage in the App.  But this is not important for the sync-process - it is only for your information, it is a step long behind the sync-process ;-)

I save the status informations in different custom fields. W

[2022-02-21 20:46] dalenguyen commented on #192
Hi @ml1970, I just update the plugin to v3.5.1. Could you please update it and try if it works?

Remember to add product key & domain names if you haven't.
https://techcater.com/shop/my-account

https://www.youtube.com/watch?v=ugkE25bAeKw&ab_channel=TechCater

[2022-02-22 07:44] ml1970 commented on #192
Hi @dalenguyen, thank you for the quick solution. Now it works perfect as expected. Great!

And I had a second question ;-) - is it possible to sync published user-comments from WP to Firebase/Firestore?

Greetings from Germany

[2022-02-25 02:45] dalenguyen commented on #192
@ml1970 it may take a while since I have a long list of backlogs. I'll add it to the todo list :D

[2022-02-25 02:45] #192 closed

[2022-02-25 08:55] #116 closed

[2022-03-02 07:17] poojadivedi opened #193 "After integrating Integrate Firebase PRO plugin in my wordpress site getting [Firebase] - This script doesn't belong"
**Describe the bug**
After integrating Integrate Firebase PRO plugin in my wordpress site getting [Firebase] - This script doesn't belong

please help me with this
![bug](https://user-images.githubusercontent.com/100751370/156313320-27c1916c-985f-47d9-af4e-c2d58460f470.png)